$table-full-width: 100%;
$color-primary: var(--netlex-primary);

.h-container {
  box-sizing: border-box;
  padding: 0 5px 10px 5px;
  font-weight: bold;
  font-size: 18px;
  border-bottom: 1px solid lightgray;
  margin-bottom: 1px;
}

.addBox {
  // border-style: solid;
  // border-color: $color-primary;
  // width: auto;
  // margin-left: auto;
  // margin-right: auto;
  // // margin-top: 30px;
  // margin-top: 100px;
  // vertical-align: middle;
  // text-align: center !important;
  // margin-top: 30px;
  margin: 30px 0;
  border: 2px solid #000234;
  border-radius: 15px;
  width: 70%;
}

.profile_details_column {
  text-align: center;
}

.image_container {
  padding-top: 30px;
  // padding-left: 20px;
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.dummy_profile_pic {
  // background-color: gray;
  // border: 2px solid gray;
  color: white;
  height: 170px;
  clip-path: circle();
  width: 85%;
  display: flex;
  justify-content: center;
  align-items: center;
}

// .loading_profile_pic {}

.edit_profile_pic {
  // padding: 5px 0 10px 0;
  padding: 0 35px 20px 35px;
  margin-top: -45px;
  z-index: 1;
  display: flex;
  justify-content: end;

  // width: 80%;
  input {
    display: none;
  }

  .mat-icon {
    background-color: #80808096;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    border-radius: 50%;
    padding: 2px;
    cursor: pointer;
    font-size: 22px;
  }
}

.profile_pic {
  // width: 166px;
  // height: 240px;
  // object-fit: cover;
  width: 80%;
  height: auto;
  padding-top: 45%;
  // margin-top: -45%;
  // margin-bottom: -45%;
  margin: -45% 0;
  clip-path: circle();
  cursor: pointer;
}

.full_pic {
  width: 80%;
  height: auto;
  border-radius: 10px;
  cursor: pointer;
  margin-bottom: 15px;
}

.no_profile_pic {
  width: 95%;
  height: auto;
  // padding-top: 45%;
  // margin-top: -45%;
  // margin-bottom: -45%;
  // margin: -45% 0;
  clip-path: circle();
}

.profile_setting_column {
  // text-align: center;
  // background-color: #000234;
  border-left: 1px solid #80808069;
  padding: 20px;
}

.heading_n_button_container {
  display: flex;
  justify-content: space-between;
}

.profile_setting_label {
  font-size: 25px;
  font-weight: 500;
  // margin-top: 30px;
  padding: 0 10px;
  display: flex;
  align-items: center;
}
.office_timings_label {
  font-size: 25px;
  font-weight: 500;
  margin-top: 30px;
  margin-bottom: 40px;
  // height: 70px;
  padding: 0 10px;
  display: flex;
  align-items: center;
}
.busyTimeBtnContainer{
  margin-top: 60px;
}
.user_name {
  font-size: 17px;
  font-weight: 500;
  // font-family: 'Circular-Loom';
  margin-top: 10px;
}

.user_email {
  margin-top: 5px;
  color: #000000eb;
  // font-family: 'Circular-Loom';

}

.user_role {
  font-size: 17px;
  font-weight: 500;
  margin-top: 10px;
  // font-family: 'Circular-Loom';

}

.timeBtnContainer {
  margin-top: 5px;
  display: flex;
  justify-content: center;
}

.officeTimeBtn {
  // background-color: #000234;
  // background-color: #a9a9a9;
  background-color: #3f51b5;
  box-shadow: 2px 5px 6px -3px #888888;
  color: white;
  height: 40px;
  margin-top: -5px;
  // width: 110px;
  justify-content: center;
  display: flex;
  align-items: center;

  .mat-icon {
    // padding-top: 20px;
    font-size: 21px;
  }
}

.busyTime-button {
  background-color: #000234;
  box-shadow: 2px 5px 6px -3px #888888;
  color: white;
  height: 35px;
  // width: 110px;
  justify-content: center;
  display: flex;
  align-items: center;

  .mat-icon {
    // padding-top: 20px;
    font-size: 21px;
  }
}

.image-upload-button {
  // margin-top: 15px;
  background-color: #000234;
  box-shadow: 2px 5px 6px -3px #888888;
  color: white;
  border-radius: 5px;
}

// .edit-button {
//   background-color: #000234;
//   box-shadow: 2px 5px 6px -3px #888888;
//   color: white;
//   border-radius: 5px;

//   // .mat-icon {
//   //   // padding-top: 20px;
//   //   font-size: 21px;
//   // }
// }
.edit-button {
  // background-color: #4060D4;
  // background-color: #4060D4;
  // border-radius: 50%;
  // color: white;
  // box-shadow: 2px 5px 6px -3px #888888;
  // margin-top: 23px;
  height: 40px;
  // margin-left: 5px;
  cursor: pointer;

  // padding: 20px;
  // width: 40px;
  // all: unset;
  .mat-icon {
    font-size: 25px;
    // background-color: #4060D4;
    background-color: #a9a9a9;
    width: 40px;
    height: 40px;
    box-shadow: 2px 5px 6px -3px #888888;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
  }
}

.edit-button-mobile {
  background-color: #000234;
  box-shadow: 2px 5px 6px -3px #888888;
  color: white;
  border-radius: 5px;
  height: 40px;
  // margin-left: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 110px;
  font-size: 15px;

  .mat-icon {
    font-size: 17px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

// .edit-button:hover {
//   background-color: white;
// }

.preview_image {
  // background-color: antiquewhite;
  display: grid;
  margin: 10px 0;
  // padding: 5px 20px;
  border: 2px solid #000234;
  // width: 50%;
  width: fit-content;
  align-items: center;

  label {
    color: white;
    background: #000234;
    padding: 2px 10px;
  }

  img {
    padding: 10px;
    height: 250px;
  }
}

.cancel-button {
  background-color: #4060D4;
  color: white;
  box-shadow: 2px 5px 6px -3px #888888;
  height: 35px;
  // width: 70px;
  margin-right: 10px;
}

// .times_select_fields{
//     margin-top: 5px;
// }
.time-error {
  color: red;
  padding: 0 5px;
  margin-top: -20px;
  z-index: 1;
  cursor: pointer;
}

// .back-button {
//   background-color: #4060D4;
//   color: white;
//   box-shadow: 2px 5px 6px -3px #888888;
//   height: 35px;
//   // width: 70px;
//   margin-right: 10px;
// }
.update-button {
  background-color: #000234;
  box-shadow: 2px 5px 6px -3px #888888;
  color: white;
  height: 35px;
  width: 110px;
  justify-content: center;
  display: flex;
  align-items: center;

  .mat-icon {
    // padding-top: 20px;
    font-size: 21px;
  }
}

::ng-deep .mat-button.mat-button-disabled.mat-button-disabled {
  background-color: #000234d6;
  color: #bebcbc;
}

.editable_fields {
  padding: 15px 0 0 0;
}

.child-container-common {
  padding: 0px 15px 0px 15px;
}

.child-container-common2 {
  // padding: 10px 15px 0px 15px;
  padding: 15px;
}

.mat-form-field-type-mat-native-select.mat-form-field-disabled .mat-form-field-infix::after,
.mat-input-element:disabled {
  color: #8e8e8e !important;
}

@media only screen and (min-width: 1080px) {
  .addBox {
    // width: 50% !important;
    width: 70% !important;
  }
}

@media only screen and (max-width: 960px) {
  .addBox {
    // margin-top: 80px;
    width: 75%;
  }

  .image_container {
    padding-top: 0;
  }

  .profile_setting_column {
    // text-align: center;
    // background-color: #000234;
    border-left: 0;
    border-top: 1px solid #80808069;
    padding: 10px 0;
    margin-top: 20px;
  }
  .office_timings_label{
    margin-top: 10px;
    margin-bottom: 30px;
  }
}

@media only screen and (max-width: 460px) and (min-width: 330px) {
  .edit_profile_pic {
    margin-top: -60px;
  }
}

@media only screen and (max-width: 960px) and (min-width: 550px) {
  .edit_profile_pic {
    padding: 0 35px 20px 35px;
    margin-top: -95px;
    width: 75%;

    .mat-icon {
      background-color: #80808096;
      width: 60px;
      height: 60px;
      padding: 2px;
      font-size: 45px;
    }
  }
}

.space {
  padding: 10px !important;
  flex: auto;
}

.mat-form-field-underline {
  background-color: white !important;
}

.moveCenter {
  margin-left: -5%;
}

.saveBtn {
  margin-top: 2%;
  margin-left: 10%;
  background-color: $color-primary;
  color: white;
}

.content-container {
  overflow-y: scroll;
  height: 60vh;
  margin-left: auto;
  margin-right: auto;
}

.profile-button {
  color: #ffffff;
  background-color: $color-primary;
  border-radius: unset;
}

.button-center {
  text-align: center !important;
}

.table-size {
  width: $table-full-width;
}

.text-center {
  width: 80px;
  border-radius: unset;
  border-width: 15px;
  margin-left: 5%;
  background-color: $color-primary;
  color: white;
}

.button-c {
  width: 120px;
  border-radius: unset;
  border-width: 15px;
  margin-left: 5%;
  background-color: $color-primary;
  color: white;
}