.banner-dark-img {
  position: relative;
  // width: 300px;
  width: 100%;
  // padding-bottom: 100px;
  // margin-bottom: -100px;
  // background-color: #000000;
}

.banner-dark-img::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1;
  background: rgba(0, 0, 0, .5);
}

.banner-image {
  // height: 600px;
  // height: 110vh;
  height: 65vh;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  // background-image: url(http://localhost:30000/homePagepics/homeHeaderPic_628f61e6960b86673eddbfa2.jpg);
  // background-image: url(../../../assets/images/agreements_background.png);
  color: white;
}
.marginTop{
  padding-bottom: 90px;
}
.header {
  border: 1px solid rgba(214, 221, 216, 0.9);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
  // height: 92px;
  height: 70px;
}

.heading {
  padding-left: 75px;
  font-family:'Playfair Display,serif !important';  font-style: normal;
  // font-weight: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 29px;
  display: flex;
  align-items: center;
  letter-spacing: 0.07em;
  // color: #1F2A53;
  color: rgba(11, 31, 102, 0.7);
}

.heading-mobile {
  font-family:'Playfair Display,serif !important';  font-style: normal;
  font-weight: 300;
  font-size: 17px;
  line-height: 20px;
  letter-spacing: 0.07em;
  // color: #000000;
  color: rgba(11, 31, 102, 0.7);
  padding-right: 60px;
}

::ng-deep.mat-expansion-panel-header {
  height: 65px;
}

@media screen and (max-width: 768px) {
  ::ng-deep.mat-expansion-panel-header {
    height: auto !important;
    min-height: 75px !important;
  }
}

.mat-accordion .mat-expansion-panel {
  margin-bottom: 15px;
  margin-top: 15px;
  // background-color: gray;
}
// .question_of_category{
//   margin-top: 20px;
//   border: 2px solid #bfbfbf;
//   padding: 10px 40px 10px 24px;
//   border-radius: 5px;
//   background-color: white;
//   width: 100%;
//   display: flex;
//   align-items: center;
// }
.category-body{
  margin-top: 20px;
  border: 2px solid #bfbfbf;
  // padding: 10px 40px 10px 24px;
  padding: 0 15px;
  border-radius: 5px;
  background-color: white;
  width: 100%;
  display: flex;
  align-items: center;
}
.answer {
  // margin-top: 20px;
  margin-top: 10px;
  // margin-top: -5px;
  // border-top: 2px solid #bfbfbf;
  // border-left: 2px solid #bfbfbf;
  // border: 2px solid #bfbfbf;
  border: 2px solid #e0e0e0;
  border-radius: 5px;
  // background-color: #ffffff27;
  // border-bottom-left-radius: 5px;
  // border-bottom-right-radius: 5px;
  background-color: white;
  box-sizing: border-box;
  width: 100%;
  // height: 127px;
  // padding-left: 24px;
  // padding-right: 40px;
  padding: 10px 15px 10px 15px;
  text-align: justify;
  font-family:'Playfair Display,serif !important';  font-style: normal;
  font-weight: 300;
  font-size: 17px;
  line-height: 20px;
  display: flex;
  align-items: center;
  // letter-spacing: 0.04em;
  // color: white;
}

// @media screen and (max-width: 768px) {
//   .answer {
//     padding: 19px 10px 28px 19px !important;
//     height: 100% !important;
//   }
// }

.paragraph {
  font-family:'Playfair Display,serif !important';  font-style: normal;
  font-weight: 300;
  font-size: 17px;
  line-height: 20px;
  padding-bottom: 52px;
}

.text-box {
  // width: 310px;
  // height: 407px;
  // height: 81vh;
  // margin: 30px 10px 30px 30px;
  // width: 75%;
  // width: 85%;
  width: 93%;
  margin-top: 15px;
  // /* margin: 20px 10px 30px 30px;
  border: 2px solid #bfbfbf;
  // border-radius: 20px;
  border-radius: 5px;
  // margin-top: 30px;
  // margin-bottom: 30px;
  // background-color: #00000077;
}

.text-box-text {
  padding: 20px;
  // color: white;
}





.text {
  font-family:'Playfair Display,serif !important';  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: 0.04em;
  color: #171717;
}

.mat-expansion-panel:not([class*='mat-shadow']) {
  box-shadow: none;
}

.panel-container {
  // padding-left: 75px;
  // padding-top: 51px;
  // margin-top: 70px;
  width: 100%;
  // padding-top: 20px;
  // position: absolute;
  // z-index: 2;
}

.accordion-header {
  // background-color: #A8B2D4 !important;
  // background-color: #ffffff37 !important;
  // background-color: #03030395 !important;
  // background-color: #bfbfbf !important;
  // background-color: --background !important;
  padding: 15px;
  border-radius: 5px;
}
.accordion-header1 {
  // background-color: #eee !important;
  // background-color: #e0e0e0 !important;
  border-radius: 5px;
  // padding: 15px;
  padding: 15px;
  // border-bottom: 1px solid gray;
  // border-radius: 0;
  .mat-icon{
    color: #6b6b6b;
  }
}
::ng-deep .mat-expansion-indicator:after {
  color: #6b6b6b;
}
// mat-expansion-panel-header:hover {
//   // background-color: #a8b2d4 !important;
//   background-color: #ffffff70 !important;

// }

.mat-expansion-panel-header-title {
  // color: #FFFFFF;
  display: flex !important;
  align-items: center !important;
  margin-right: 0;
    margin-left: 3px;
}

.accordion-container {
  // width: 500px;
  // margin-top: 50px;
  // height: 75vh;
  // margin: 30px 10px 0 30px;
  width: 85%;
  // background-color: #00000077;
  // padding: 20px;
  border-radius: 20px;
  // border: 2px solid white;
}
.accordion-container2 {
  // width: 500px;
  // margin-top: 50px;
  // height: 75vh;
  // margin: 30px 10px 0 30px;
  width: 100%;
  // background-color: #00000077;
  // padding: 20px;
  border-radius: 20px;
  // border: 2px solid white;
}
// .accordion-container-inner {
//   margin-top: 10px;
//   padding: 0 10px 10px 10px;
//   height: 65vh;
//   overflow-y: scroll;
// }

// .accordion-container-inner::-webkit-scrollbar {
//   width: 3px;
// }

// .accordion-container-inner::-webkit-scrollbar-track {
//   /* background: white; */
//   background: transparent;
// }

// .accordion-container-inner::-webkit-scrollbar-thumb {
//   background-color: #aaaaaa;
//   border-radius: 20px;
//   border: 3px solid transparent;
// }


// @media screen and (max-width: 1024px) {
//   .accordion-container {
//     width: 98%;
//   }
// }

::ng-deep.mat-expansion-panel-body {
  padding: 0 !important;
}

.category-header {
  font-family:'Playfair Display,serif !important';  font-style: normal;
  font-weight: 300;
  font-size: 17px;
  line-height: 20px;
  letter-spacing: 0.04em;
}
.question {
  font-family:'Playfair Display,serif !important';  font-style: normal;
  font-weight: 300;
  font-size: 17px;
  line-height: 20px;
  letter-spacing: 0.04em;
  // text-align: justify;
}
.accordion_header_texts {
  font-family:'Playfair Display,serif !important';  font-style: normal;
  font-weight: 300;
  font-size: 17px;
  line-height: 20px;
  letter-spacing: 0.04em;
  display: flex;
  justify-content: space-between;
}
.text-container {
  // padding: 43px 24px 49px 24px;
  padding: 50px;
}

.horizontal-bar {
  background-color: #D6DDD8;
  width: 100%;
  height: 1.4px;
  margin-top: 38px;
  margin-bottom: 27.5px;
}


.text-box-content-title {
  font-family:'Playfair Display,serif !important';  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: 0.04em;
  color: #6C6C6C;
}

.text-box-content-desc {
  font-family:'Playfair Display,serif !important';  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: 0.04em;
  color: #171717;
  margin-top: 4px;
  cursor: pointer;
}

.text-box-content-container {
  padding-bottom: 32px;
}

.back-button {
  margin-left: 17px;
}

.linkColor {
  color: #628ead;
}

// .mobile-tooltip {
//   border-bottom: 2px solid rgba(168, 178, 212, 0.5);
//   height: 49px;
// }

// ::ng-deep.header-top {
//   // height: 92px;
//   height: 40px;
//   font-weight: 500;
//   font-size: 30px;
//   // color: #1F2A53;
//   // color: white;
//   // border-bottom: white 2px solid;

//   // border: 1px solid rgba(214, 221, 216, 0.9);
//   // box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1);
//   span {
//     // padding: 15px;
//     font-family:'Playfair Display,serif !important';//   }
// }

.header-top {
  // background-color: #FFFFFF;
  padding: 10px;
  margin: unset;
  position: absolute;
  // height: 65vh;
  margin-top: 40vh;
  // margin-left: 8%;
  margin-left: 4%;
  // letter-spacing: 0.3em;
  // font-size: 65px;
  font-size: 60px;
  line-height: 70px;
  color: white;
  z-index: 2;
  font-weight: 500;

  // span {
  //   // font-family:'Playfair Display,serif !important';  //   // font-size: 17px;
  //   // color: rgba(11, 31, 102, 0.7);
  //   // margin: unset;
  // }
}

// ::ng-deep.scheduler-mobile {
//   font-family: Roboto !important;
//   font-style: normal;
//   // font-weight: 300!important;
//   font-weight: 500 !important;
//   // font-size: 17px!important;
//   font-size: 21px !important;
//   line-height: 20px;
//   display: flex;
//   align-items: center;
//   text-align: center;
//   letter-spacing: 0.07em;
//   //color: #000000!important;
//   color: #1F2A53;
//   text-align: center;
// }
@media screen and (max-width: 960px) {
  .marginTop{
      padding-bottom: 70px;
    }
  // .banner-image {
  //   height: 140vh;
  // }
  .banner-image {
    height: 40vh;
    background-attachment: inherit;
  }

  .header-top {
    margin-top: 25vh;
    font-size: 45px;
  }

  .text-box-container {
    display: flex;
    justify-content: center;
    // width: 90%;
    // margin-left: 20px
    margin: 0 5%;
  }

  .text-box {
    height: auto;
  }

  // .panel-container {
  //   margin-top: 50px;
  // }
}

@media screen and (max-width: 560px) {

  // .banner-image {
  //   height: 140vh;
  // }
  // .banner-image {
  //   height: 30vh;
  // }

  .header-top {
    margin-top: 24vh;
    font-size: 35px;
  }
  // .text-box-container {
  //   // width: 93%;
  //   // margin-left: 10px;
  //   margin-left: 15px;
  // }
}

@media screen and (max-height: 820px) and (max-width: 960px) {
  // .accordion-container{
  //   height: 60vh;
  // }
  // .accordion-container-inner{
  //   height: 53vh;
  // }
  // .text-box{}
}

@media screen and (max-height: 620px) and (max-width: 960px) {

  // .header-top{
  //   height: 25px;
  // }
  // .banner-image {
  //   height: 160vh;
  // }

  .text-box {
    margin-top: 20px;
  }

  // .panel-container {
  //   margin-top: 40px;
  // }
}

// @media screen and (max-height: 530px) and (max-width: 960px) {
//   .banner-image {
//     height: 190vh;
//   }
// }

// @media screen and (max-height: 400px) and (max-width: 960px) {
//   .banner-image {
//     height: 200vh;
//   }
// }

::ng-deep.text-big{
  // color: yellow !important;
  font-size: 1.4em;
}
::ng-deep.text-huge{
  // color: yellow !important;
  font-size: 1.8em;
}