.sidemenu{
  background-color: #ffffff;
  border-radius: 0px;
  height: 100%;
}
.contentDiv {
  height: 84.5vh;
}
.titlemat{
  border-radius: 0px;
  height: 100%;
  margin-left: -9px;
}
.boldFont{
  color: black;
  margin-left: 7px;
  font-size: 16px;
}
.fontCenter{
  margin-left: 35%;
  margin-top: 21% !important;
  font-family: Roboto !important;
}
.welcome{
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  display: flex;
  align-items: center;
  letter-spacing: 0.04em;
  margin-bottom: 20px;
  color: #000000;
}
.side-button{
  background-color: white;
  //box-shadow: 0.7px 1px 2px 0.7px #888888;
  //border: gray;
  //border-radius: 0px;
  color: var(--netlex-primary);
  width: 181px;
  height: 31px;
  left: 30px;
  top: 12px;
  font-weight: bold;
}
.accdv{
  margin-top: 5px;
  margin-bottom: 25px;
}
.space{
  margin-top: 20px;
}
.centermove{
  margin-top: 136px!important;
  margin-left: 8%;
  color: black!important;
}
.MobileCard{
  height: 634px;
  color: black!important;

}
.container-login{
  background-color: #F8F8F8;
  height: 60%;
}
.top{
  overflow: hidden;
}
::-webkit-scrollbar {
  display: none;
}
.navbar {
  height: 58px;
  width: 1263px;
  left: -100px;
  top: 0px;
  text-align: left;
  background-color: var(--netlex-primary);
  border-radius: unset;
}
.logInBtn{
  border-color: white;
  border: solid;
  border-radius: 8px;
  left: 947px;
  font-size: 14px;
  height: 34px;
}
.Home{
  position: absolute;
  width: 81px;
  height: 20px;
  left: -830px;
  top: 5px;

  font-family:'Playfair Display,serif !important';  font-style: normal;
  font-weight: 300;
  font-size: 17px;
  line-height: 20px;
  /* identical to box height */

  display: flex;
  align-items: center;
  letter-spacing: 0.04em;

  color: #FFFFFF;

}
.line{
  position: absolute;
  width: 31px;
  height: 0px;
  left: -740px;
  top: 15px;

  border: 1px solid #FFFFFF;
  transform: rotate(90deg);
}
.vertical{
  //position: absolute;
  width: 351px;
  height: 0px;
  padding-bottom: 235px;
  //left: -740px;
  top: 15px;

  border: 1px solid #6a8cdc;
  transform: rotate(90deg);
}
.horizontal{
  //width: 0px;
  //height: 351px;
  //padding-bottom: 235px;
  //
  //top: 15px;
  //
  //border: 1px solid #6a8cdc;
  //transform: rotate(90deg);

  border: 1px solid red;
}

.com {
  position: absolute;
  width: 97px;
  height: 20px;
  left: -730px;
  top: 5px;

  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 17px;
  line-height: 20px;
  /* identical to box height */

  display: flex;
  align-items: center;
  letter-spacing: 0.04em;

  color: #FFFFFF;

}
.under{
  position: absolute;
  width: 31px;
  height: 0px;
  left: -620px;
  top: 15px;

  border: 1px solid #FFFFFF;
  transform: rotate(90deg);
}

.Price{
  position: absolute;
  width: 97px;
  height: 20px;
  left: -610px;
  top: 5px;

  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 17px;
  line-height: 20px;
  /* identical to box height */

  display: flex;
  align-items: center;
  letter-spacing: 0.04em;

  color: #FFFFFF;
}
.Lines{
  position: absolute;
  width: 31px;
  height: 0px;
  left: -530px;
  top: 15px;

  border: 1px solid #FFFFFF;
  transform: rotate(90deg);
}
.law{
  position: absolute;
  width: 31px;
  height: 0px;
  left: -370px;
  top: 15px;

  border: 1px solid #FFFFFF;
  transform: rotate(90deg);
}
.contact{
  position: absolute;
  width: 97px;
  height: 20px;
  left: -515px;
  top: 5px;

  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 17px;
  line-height: 20px;
  /* identical to box height */

  display: flex;
  align-items: center;
  letter-spacing: 0.04em;

  color: #FFFFFF;
}
.law{
  position: absolute;
  width: 31px;
  height: 0px;
  left: -370px;
  top: 15px;

  border: 1px solid #FFFFFF;
  transform: rotate(90deg);
}
.Ans{
  position: absolute;
  width: 97px;
  height: 20px;
  left: -360px;
  top: 5px;

  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 17px;
  line-height: 20px;
  /* identical to box height */

  display: flex;
  align-items: center;
  letter-spacing: 0.04em;

  color: #FFFFFF;
}
.term{
  position: absolute;
  width: 31px;
  height: 0px;
  left: -280px;
  top: 15px;

  border: 1px solid #FFFFFF;
  transform: rotate(90deg);
}
.About{
  position: absolute;
  width: 97px;
  height: 20px;
  left: -270px;
  top: 5px;

  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 17px;
  line-height: 20px;
  /* identical to box height */

  display: flex;
  align-items: center;
  letter-spacing: 0.04em;

  color: #FFFFFF;
}
.lineValue{
  position: absolute;
  width: 31px;
  height: 0px;
  left: -181px;
  top: 15px;

  border: 1px solid #FFFFFF;
  transform: rotate(90deg);
}
.company{
  position: absolute;
  width: 97px;
  height: 20px;
  left: -165px;
  top: 5px;

  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 17px;
  line-height: 20px;
  /* identical to box height */

  display: flex;
  align-items: center;
  letter-spacing: 0.04em;

  color: #FFFFFF;
}
.width{
  position: absolute;
  width: 31px;
  height: 0px;
  left: -80px;
  top: 15px;

  border: 1px solid #FFFFFF;
  transform: rotate(90deg);
}
.textAlign{
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  /* identical to box height */

  display: flex;
  align-items: center;
  letter-spacing: 0.07em;

  color: #FFFFFF;
}
::ng-deep .mat-pseudo-checkbox {
  display: none;
}

.contentDiv {
  height: 90vh;
  overflow-y: scroll;
  scrollbar-base-color: rgba(0,0,0,0);
  mat-expansion-panel {
    box-shadow: unset;
    border-radius: unset;
  }
}

.contentDivField {
  height: 96.3vh;
}

.font_name {
  margin-left: 10%;
}

.scanButtonCard {
  text-align: center;
}

.button {
  background-color: white;
  color: var(--netlex-primary);
  border-style: solid;
  border-color: var(--netlex-primary);
  margin-left: 15px;
  width: 100px;
  height: 34px;
  border-radius: 6px;
}

.button-submit {
  background-color: #28A635;
  color: #ffffff;
  border: solid 3px #1F7127;
  border-radius: 10px;
  font-family:'Playfair Display,serif !important';  font-size: 15px;
  width: 60%;
}

.add-condition {
  background-color: green;
  color: #ffffff;
  vertical-align: middle;
  text-align: center;
}

.field-container {
  padding: 5px;
}

.field-border {
  border: 2px solid grey;
}

.title {
  background-color: var(--netlex-primary);
  color: white;
  border-radius: unset;
  box-shadow: unset;
}

.mat-input-element {
  caret-color: white;
}

.edit-column {
  display: grid;
  place-items: center;
  font-family:'Playfair Display,serif !important';  font-size: 24px;
  font-weight: bold;
  letter-spacing: 1.5px;
}


.id {
  overflow-y: scroll;
}

.mat-list-base .mat-list-item, .mat-list-base .mat-list-option {
  height: 25px;
}

.document-column {
  font-family:'Playfair Display,serif !important';  font-size: 24px;
  font-weight: bold;
  letter-spacing: 1.5px;
}

@media only screen and (min-width: 1200px) {
  .document-container {
    padding: 35px 20px 0 20px;
  }
}

.total{
  ::-webkit-scrollbar {
    display: none;
  }
}

.inputField {
  ::ng-deep .mat-form-field-wrapper {
    margin-bottom: -1.25em;
  }

  ::ng-deep .mat-input-underline {
    display: none !important;
  }
}


.pusblish-container {
  display: grid;
  place-items: center;
}

.add-label {
  cursor: pointer;
  font-family:'Playfair Display,serif !important';  font-size: 18px;
  font-weight: bold;
  color: var(--netlex-primary);
}

@media only screen and (max-width: 960px) {
  .button-submit {
    width: 75% !important;
  }

}

.dialog-container {
  padding-right: 200px;
  //border: var(--netlex-primary) solid 3px;
  background-color: white;
  display: grid;
  place-items: center;

  //
  width: 700px;
  height: 500px;
  left: 370px;
  top: 242px;

  border: 3px solid rgba(168, 178, 212, 0.4);
  box-sizing: border-box;
  border-radius: 30px;
}
.acchd{
  margin-left: 30px;
}

::ng-deep.mat-dialog-container {
  padding-right: 0px !important;
}

.saveButton {
  background-color: white;
  border: var(--netlex-primary) solid 3px;
  color: var(--netlex-primary);
}

.button-publish {
  background-color: var(--netlex-primary);
  color: white;
  width: 100px;
  height: 34px;
  border-radius: 6px;
}

.publish-label {
  position: absolute;
  width: 81px;
  height: 29px;
  left: 400px;
  top: 190px;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 25px;
  line-height: 29px;
  display: flex;
  align-items: center;
  letter-spacing: 0.07em;

  color: #252222;

}

.publish-content {
  width: 35px;
  height: 35px;
  left: 438px;
  top: 343px;

  background: #FFFFFF;
  border: 2px solid #A8B2D4;
  box-sizing: border-box;
}

.publish-text {
  padding: 20px 45px 0 45px;
  display: grid;
  place-items: center;
}

.circle-add-label {
  font-size: 40px;
}

.main-question-delete{
  font-size: 18px;
  color: #b8b8b8;
  cursor: pointer;
}
.main-question-delete:hover{
  color: var(--netlex-primary);
}

::ng-deep .mat-dialog-container {
  border-radius: 40px !important;
  border: var(--netlex-primary) solid 3px !important;
  overflow: hidden !important;
}
.corner{
  position: absolute;
  width: 50px;
  height: 50px;
  left: 415px;
  top: 240px;

  background: #FFFFFF;
  border: 3px solid #A8B2D4;
  box-sizing: border-box;
}
.num{
  position: absolute;
  width: 23px;
  height: 35px;
  left: 15px;
  top: 5px;

  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  display: flex;
  align-items: center;
  letter-spacing: 0.07em;

  color: #1F2A53;
}
.fields-labels{
  position: absolute;
  width: 300px;
  height: 35px;
  left: 430px;
  top: 325px;

  border: 2px solid #A8B2D4;
  box-sizing: border-box;
  border-radius: 6px;
}
.text{
  position: absolute;
  width: 41px;
  height: 16px;
  left: 431px;
  top: 310px;

  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;
  display: flex;
  align-items: center;
  letter-spacing: 0.07em;

  color: #252222;
}
.SurName{
  position: absolute;
  width: 41px;
  height: 16px;
  left: 431px;
  top: 370px;

  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;
  display: flex;
  align-items: center;
  letter-spacing: 0.07em;

  color: #252222;
}
.fields{
  position: absolute;
  width: 300px;
  height: 35px;
  left: 430px;
  top: 385px;

  border: 2px solid #A8B2D4;
  box-sizing: border-box;
  border-radius: 6px;
}
.Email{
  position: absolute;
  width: 41px;
  height: 16px;
  left: 431px;
  top: 425px;

  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;
  display: flex;
  align-items: center;
  letter-spacing: 0.07em;

  color: #252222;
}
.fields-label{
  position: absolute;
  width: 300px;
  height: 35px;
  left: 430px;
  top: 440px;

  border: 2px solid #A8B2D4;
  box-sizing: border-box;
  border-radius: 6px;
}
.delete{
  position: absolute;
  width: 130px;
  height: 20px;
  left: 442px;
  top: 500px;

  font-family: Roboto;
  font-style: normal;
  font-weight: 480;
  font-size: 13px;
  line-height: 20px;
  /* identical to box height */

  display: flex;
  align-items: center;
  letter-spacing: 0.07em;

  color: #252222;

}
.list{
  position: absolute;
  width: 259px;
  height: 36px;
  left: 442px;
  top: 520px;

  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 18px;
  display: flex;
  align-items: center;
  letter-spacing: 0.07em;

  color: #252222;

}
.submit{
  position: absolute;
  width: 85px;
  height: 30px;
  left: 442px;
  top: 570px;

  border: 2px solid #A8B2D4;
  box-sizing: border-box;
  border-radius: 6px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  display: flex;
  align-items: center;
  letter-spacing: 0.07em;

  color: #252222;
}
.centre{
  position: absolute;
  width: 82px;
  height: 19px;
  left: 471px;
  top: 255px;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 19px;
  /* identical to box height */

  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.07em;

  color: #252222;

}
