<div fxHide.lt-md>
    <div fxLayout="column" class="request-container">
        <div fxLayout="row">
            <div fxFlex="50" fxLayoutAlign="center" class="headings">
                <span translate>REQUEST.HEADER</span>
            </div>
            <div fxFlex="50" fxLayoutAlign="end" class="headings action">
                <span translate>REQUEST.ACTION</span>
            </div>
        </div>
        <div class="list-container">
            <div fxLayout="row" *ngFor="let request of requestsList">
                <div fxLayoutAlign="start" fxFlex="50">
                    <h3 class="user-name">{{request.userName}}</h3>
                </div>
                <div fxLayoutAlign="end" fxFlex="50">
                    <div fxLayout="row">
                        <div class="button-container">
                            <button class="button-accept" (click)="processRequest('accept',request._id)"><span
                                    translate>REQUEST.ACCEPT</span></button>
                        </div>
                        <div class="button-container">
                            <button class="button-reject" (click)="processRequest('reject', request._id)"><span
                                    translate>REQUEST.REJECT</span></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div fxHide.gt-sm>

</div>
