
 <!-- <div class="card-title" fxLayoutAlign="center">Våra advokater</div> -->
 <div class="card-title" fxLayoutAlign="center" [innerHTML]="aboutUsLawyerHeading|safeHtml| translate "></div>

<div fxHide.lt-md>
    <div class="card-main-container" fxLayout="column">
        <!-- <div class="card-title" fxLayoutAlign="center" [innerHTML]="aboutUsLawyerHeading|safeHtml| translate "></div> -->
        <!-- <mat-dialog-content> -->
        <!-- <div class="card-title" fxLayoutAlign="center">Välj en advokat</div> -->
        <div class="all-cards-container">
            <!-- <div fxLayout.gt-sm="row" fxLayout.lt-md="column" fxLayoutAlign="center" class="card-child-container"> </div> -->
            <div class="card-container" fxLayout="column" *ngFor="let lawyerdetail of LawyerDetail ">
                <!-- <div *ngIf="lawyerdetail._id!=LawyerID" matRipple [matRippleColor]="'#1F2A53'"
                (click)="showCardNew(lawyerdetail._id)" class="card-first" fxLayoutAlign="center center">
                <span class="card-first-picture">
                    <img width="250px" height="361px" [src]="showimage+lawyerdetail.lawyerPic">
                </span>
            </div> -->
                <div class="flip-box" (click)="openLawyerDetailsDialog(lawyerdetail)">
                    <div class="flip-box-inner">
                        <div class="flip-box-front">
                            <img [src]="showimage+lawyerdetail.lawyerPic" alt="Paris" class="lawyer_img_style">
                        </div>
                        <div class="flip-box-back">
                            <div class="lawyer_img_backside_inner">
                                <!-- <div class="lawyer_img_backside_row" fxLayout="column">
                                    <span>{{'ABOUT_US.CARD_CONTENT_FIRST' | translate}}:</span>
                                    <span class="card-content-desc">{{lawyerdetail.training}}</span>
                                </div> -->

                                <div class="lawyer_img_backside_row" fxLayout="column">
                                    <span>{{'ABOUT_US.CARD_CONTENT_SECOND' | translate}}:</span>
                                    <!-- <span class="card-content-desc">{{lawyerdetail.languages}} </span> -->
                                    <span class="card-content-desc">
                                        <!-- {{lawyerdetail.languages[0] && lawyerdetail.languages[0]}}, {{lawyerdetail.languages[0] && lawyerdetail.languages[1]}} -->
                                        <span *ngFor="let item of lawyerdetail.languages; let i= index;">
                                            <span *ngIf="i<3">{{item}}<span *ngIf="i<lawyerdetail.languages.length-1 && i<2">, </span> 
                                             <span *ngIf="i===2">.</span>
                                        </span>
                                        </span> </span>
                                </div>
                                <div class="lawyer_img_backside_row" fxLayout="column">
                                    <span>{{'ABOUT_US.CARD_CONTENT_THIRD' | translate}}:</span>
                                    <span style="word-wrap:break-word" class="card-content-desc">
                                        <!-- {{lawyerdetail.activityArea}} -->
                                        <!-- {{lawyerdetail.activityArea[0] && lawyerdetail.activityArea[0]}}, {{lawyerdetail.activityArea[1] && lawyerdetail.activityArea[1]}} -->
                                        <span *ngFor="let item of lawyerdetail.activityArea; let i= index;">
                                            <span *ngIf="i<3">{{item}}<span *ngIf="i<lawyerdetail.activityArea.length-1 && i<2">, </span> 
                                             <span *ngIf="i===2">.</span>
                                        </span>
                                        </span>
                                    </span>
                                </div>
                                <div class="lawyer_img_backside_row" fxLayout="column">
                                    <span>{{'ABOUT_US.CARD_CONTENT_FOURTH' | translate}}</span>
                                    <span class="card-content-desc">0{{lawyerdetail.phoneNumber | translate}}</span>
                                    <span class="card-content-desc">{{lawyerdetail.email | translate}}</span>
                                </div>
                            </div>
                            <div fxLayoutAlign="center center" class="lawyer_img_backside_btn_container">
                            <button class="lawyer_img_backside_btn" (click)="redirect(lawyerdetail)"><span translate>Boka möte</span></button>
                        </div>
                        </div>
                    </div>
                </div>
                <!-- <p class="card-title-first">{{lawyerdetail.firstName | translate}} {{lawyerdetail.lastName | translate}}
                </p>
                <p class="card-header-first">{{lawyerdetail.title | translate}}</p> -->
                <p class="card-title-first">{{lawyerdetail.firstName | translate}} {{lawyerdetail.lastName |
                    translate}}
                </p>
                <p class="card-header-first">{{lawyerdetail.title | translate}}</p>
            </div>
            <!-- <div fxLayout.gt-sm="row" fxLayout.lt-md="column" fxLayoutAlign="center" class="card-child-container">
            <div class="card-container" fxLayout="column" *ngFor="let lawyerdetailtwo of LawyerDetailtwo ">
                <div *ngIf="lawyerdetailtwo._id!=LawyerID" matRipple [matRippleColor]="'#1F2A53'"
                    (click)="showCardNew(lawyerdetailtwo._id)" class="card-first" fxLayoutAlign="center center">
                    <span class="card-first-picture">
                        <img width="166px" height="240px" [src]="showimage+lawyerdetailtwo.lawyerPic">
                    </span>
                </div>

                <div *ngIf="lawyerdetailtwo._id==LawyerID " matRipple [matRippleColor]="'#C4C4C4'"
                    (click)="hideCardNew(lawyerdetailtwo._id)" class="card-first1" fxLayoutAlign="none start"
                    fxLayout="column">
                    <div class="card-content-container-inner">
                        <div class="card-content-container" fxLayout="column">
                            <span>{{'ABOUT_US.CARD_CONTENT_FIRST' | translate}}:</span>
                            <span class="card-content-desc">{{lawyerdetailtwo.training}}</span>
                        </div>

                        <div class="card-content-container" fxLayout="column">
                            <span>{{'ABOUT_US.CARD_CONTENT_SECOND' | translate}}:</span>
                            <span class="card-content-desc">{{lawyerdetailtwo.languages | translate}} </span>
                        </div>
                        <div class="card-content-container" fxLayout="column">
                            <span>{{'ABOUT_US.CARD_CONTENT_THIRD' | translate}}:</span>
                            <span style="word-wrap:break-word" class="card-content-desc">
                                {{lawyerdetailtwo.activityArea | translate}}
                            </span>
                        </div>
                        <div class="card-content-container" fxLayout="column">
                            <span>{{'ABOUT_US.CARD_CONTENT_FOURTH' | translate}}</span>
                            <span class="card-content-desc">{{lawyerdetailtwo.phoneNumber | translate}}</span>
                            <span class="card-content-desc">{{lawyerdetailtwo.email | translate}}</span>
                        </div>
                    </div>
                </div>
                <p class="card-title-first">{{lawyerdetailtwo.firstName | translate}} & {{lawyerdetailtwo.lastName |
                    translate}}</p>
                <p class="card-header-first">{{lawyerdetailtwo.title | translate}}</p>

            </div>
        </div> -->

        </div>

        <!-- </mat-dialog-content> -->
    </div>
    <div fxLayoutAlign="end center" class="all-lawyers-btn-container">
        <button class="all-lawyers-button"  [routerLink]="'/allLawyers'"><span translate>Samtliga jurister</span>
            <mat-icon class="arrow-right-icon">keyboard_arrow_right</mat-icon>
        </button><br />
    </div>
</div>
<div fxHide.gt-sm>
    <div class="card-main-container" fxLayout="column">
        <!-- <div class="card-title" fxLayoutAlign="center" [innerHTML]="aboutUsLawyerHeading|safeHtml| translate "></div> -->
        <!-- <mat-dialog-content> -->
        <!-- <div class="card-title" fxLayoutAlign="center">Välj en advokat</div> -->
        <div class="all-cards-container">
            <!-- <div fxLayout.gt-sm="row" fxLayout.lt-md="column" fxLayoutAlign="center" class="card-child-container"> </div> -->
            <div class="card-container" fxLayout="column" *ngFor="let lawyerdetail of FirstTwoLawyersForMobile ">
                <!-- <div *ngIf="lawyerdetail._id!=LawyerID" matRipple [matRippleColor]="'#1F2A53'"
                (click)="showCardNew(lawyerdetail._id)" class="card-first" fxLayoutAlign="center center">
                <span class="card-first-picture">
                    <img width="250px" height="361px" [src]="showimage+lawyerdetail.lawyerPic">
                </span>
            </div> -->
                <div class="flip-box" (click)="openLawyerDetailsDialog(lawyerdetail)">
                    <div class="flip-box-inner">
                        <div class="flip-box-front">
                            <img [src]="showimage+lawyerdetail.lawyerPic" alt="Paris" class="lawyer_img_style">
                        </div>
                        <div class="flip-box-back">
                            <div class="lawyer_img_backside_inner">
                                <!-- <div class="lawyer_img_backside_row" fxLayout="column">
                                    <span>{{'ABOUT_US.CARD_CONTENT_FIRST' | translate}}:</span>
                                    <span class="card-content-desc">{{lawyerdetail.training}}</span>
                                </div> -->

                                <div class="lawyer_img_backside_row" fxLayout="column">
                                    <span>{{'ABOUT_US.CARD_CONTENT_SECOND' | translate}}:</span>
                                    <!-- <span class="card-content-desc">{{lawyerdetail.languages}} </span> -->
                                    <span class="card-content-desc">
                                        <!-- {{lawyerdetail.languages[0] && lawyerdetail.languages[0]}}, {{lawyerdetail.languages[0] && lawyerdetail.languages[1]}} -->
                                        <span *ngFor="let item of lawyerdetail.languages; let i= index;">
                                            <span *ngIf="i<3">{{item}}<span *ngIf="i<lawyerdetail.languages.length-1 && i<2">, </span> 
                                             <span *ngIf="i===2">.</span>
                                        </span>
                                        </span> </span>
                                </div>
                                <div class="lawyer_img_backside_row" fxLayout="column">
                                    <span>{{'ABOUT_US.CARD_CONTENT_THIRD' | translate}}:</span>
                                    <span style="word-wrap:break-word" class="card-content-desc">
                                        <!-- {{lawyerdetail.activityArea}} -->
                                        <!-- {{lawyerdetail.activityArea[0] && lawyerdetail.activityArea[0]}}, {{lawyerdetail.activityArea[1] && lawyerdetail.activityArea[1]}} -->
                                        <span *ngFor="let item of lawyerdetail.activityArea; let i= index;">
                                            <span *ngIf="i<3">{{item}}<span *ngIf="i<lawyerdetail.activityArea.length-1 && i<2">, </span> 
                                             <span *ngIf="i===2">.</span>
                                        </span>
                                        </span>
                                    </span>
                                </div>
                                <div class="lawyer_img_backside_row" fxLayout="column">
                                    <span>{{'ABOUT_US.CARD_CONTENT_FOURTH' | translate}}</span>
                                    <span class="card-content-desc">0{{lawyerdetail.phoneNumber | translate}}</span>
                                    <span class="card-content-desc">{{lawyerdetail.email | translate}}</span>
                                </div>
                            </div>
                            <div fxLayoutAlign="center center" class="lawyer_img_backside_btn_container">
                            <button class="lawyer_img_backside_btn" (click)="redirect(lawyerdetail)"><span translate>Boka möte</span></button>
                        </div>
                        </div>
                    </div>
                </div>
                <!-- <div *ngIf="lawyerdetail._id==LawyerID " matRipple [matRippleColor]="'#C4C4C4'"
                    (click)="hideCardNew(lawyerdetail._id)" class="card-first1" fxLayoutAlign="none start"
                    fxLayout="column">
                    <div class="card-content-container-inner">

                        <div class="card-content-container" fxLayout="column">
                            <span>{{'ABOUT_US.CARD_CONTENT_SECOND' | translate}}:</span>
                            <span class="card-content-desc">
                                <span *ngFor="let item of lawyerdetail.languages; let i= index;">
                                    <span *ngIf="i<3">{{item}}<span *ngIf="i<lawyerdetail.languages.length-1 && i<2">, </span> 
                                     <span *ngIf="i===2">.</span>
                                </span>
                                </span>
                                 </span>
                        </div>
                        <div class="card-content-container" fxLayout="column">
                            <span>{{'ABOUT_US.CARD_CONTENT_THIRD' | translate}}:</span>
                            <span style="word-wrap:break-word" class="card-content-desc">
                                <span *ngFor="let item of lawyerdetail.activityArea; let i= index;">
                                    <span *ngIf="i<3">{{item}}<span *ngIf="i<lawyerdetail.activityArea.length-1 && i<2">, </span> 
                                     <span *ngIf="i===2">.</span>
                                </span>
                                </span>
                            </span>
                        </div>
                        <div class="card-content-container" fxLayout="column">
                            <span>{{'ABOUT_US.CARD_CONTENT_FOURTH' | translate}}</span>
                            <span class="card-content-desc">{{lawyerdetail.phoneNumber | translate}}</span>
                            <span class="card-content-desc">{{lawyerdetail.email | translate}}</span>
                        </div>
                    </div>
                </div> -->
                <p class="card-title-first">{{lawyerdetail.firstName | translate}} {{lawyerdetail.lastName | translate}}
                </p>
                <p class="card-header-first">{{lawyerdetail.title | translate}}</p>
                <!-- <div class="breakbreakbreak"></div> -->
            </div>
            <!-- <div fxLayout.gt-sm="row" fxLayout.lt-md="column" fxLayoutAlign="center" class="card-child-container">
            <div class="card-container" fxLayout="column" *ngFor="let lawyerdetailtwo of LawyerDetailtwo ">
                <div *ngIf="lawyerdetailtwo._id!=LawyerID" matRipple [matRippleColor]="'#1F2A53'"
                    (click)="showCardNew(lawyerdetailtwo._id)" class="card-first" fxLayoutAlign="center center">
                    <span class="card-first-picture">
                        <img width="166px" height="240px" [src]="showimage+lawyerdetailtwo.lawyerPic">
                    </span>
                </div>

                <div *ngIf="lawyerdetailtwo._id==LawyerID " matRipple [matRippleColor]="'#C4C4C4'"
                    (click)="hideCardNew(lawyerdetailtwo._id)" class="card-first1" fxLayoutAlign="none start"
                    fxLayout="column">
                    <div class="card-content-container-inner">
                        <div class="card-content-container" fxLayout="column">
                            <span>{{'ABOUT_US.CARD_CONTENT_FIRST' | translate}}:</span>
                            <span class="card-content-desc">{{lawyerdetailtwo.training}}</span>
                        </div>

                        <div class="card-content-container" fxLayout="column">
                            <span>{{'ABOUT_US.CARD_CONTENT_SECOND' | translate}}:</span>
                            <span class="card-content-desc">{{lawyerdetailtwo.languages | translate}} </span>
                        </div>
                        <div class="card-content-container" fxLayout="column">
                            <span>{{'ABOUT_US.CARD_CONTENT_THIRD' | translate}}:</span>
                            <span style="word-wrap:break-word" class="card-content-desc">
                                {{lawyerdetailtwo.activityArea | translate}}
                            </span>
                        </div>
                        <div class="card-content-container" fxLayout="column">
                            <span>{{'ABOUT_US.CARD_CONTENT_FOURTH' | translate}}</span>
                            <span class="card-content-desc">{{lawyerdetailtwo.phoneNumber | translate}}</span>
                            <span class="card-content-desc">{{lawyerdetailtwo.email | translate}}</span>
                        </div>
                    </div>
                </div>
                <p class="card-title-first">{{lawyerdetailtwo.firstName | translate}} & {{lawyerdetailtwo.lastName |
                    translate}}</p>
                <p class="card-header-first">{{lawyerdetailtwo.title | translate}}</p>

            </div>
        </div> -->

        </div>

        <!-- </mat-dialog-content> -->
    </div>
    <div fxLayoutAlign="end center" class="all-lawyers-btn-container">
        <button class="all-lawyers-button"  [routerLink]="'/allLawyers'"><span translate>Samtliga jurister</span>
            <mat-icon class="arrow-right-icon">keyboard_arrow_right</mat-icon>
        </button><br />
    </div>
</div>