.content-pages-container{
    z-index: 0;
    position: relative;
    margin-top: 70px;
}
@media screen and(max-width: 960px) {
    .content-pages-container{
        margin-top: 50px;
    }
}