<!-- <app-navbar xmlns="http://www.w3.org/1999/html"></app-navbar> -->
<div class="header-top noMargin" fxLayoutAlign="none center"><span>Redigera Swish Konfiguration</span></div>
<div fxLayout.lt-lg="col" fxLayout.lg="row">
    <div fxFlex.gt-md="100" class="create-about-us-table-container" fxLayout="column" fxLayoutAlign="none center">
        <mat-card class="addBox" fxLayout="column">

            <!-- ................pem_cert_file................... -->
            <tr fxLayout="column">
                <div class="file-heading" fxLayoutAlign="center center">
                    <label class="id-labels">Swish Pem_Certificate(Pem_Cert)</label>
                </div>
                <div style="font-size:11px" appearance="outline" fxLayoutAlign="center center">
                    <input [(ngModel)]="pem_cert_file" (change)="onFileChangePemCert($event)" type="file"
                        class="form-control">
                </div>
                <label fxLayoutAlign="center center">Notera: Filtillägget kommer endast att vara (.pem)</label>
            </tr>
            <div class="file-upload-heading" fxLayoutAlign="center center">Förändra Swish Pem_Certificate
                <button type="button" (click)="changePemCertFile()" class="fileUpdateBtn">
                    <span class="spinner-border spinner-border-sm" *ngIf="showloading" aria-hidden="true"></span>
                    <span *ngIf="!showloading">Uppdatera Pem_Certificate</span>
                </button>
            </div>
            <!-- ................key_cert_file................... -->
            <tr fxLayout="column">
                <div class="file-heading" fxLayoutAlign="center center">
                    <label class="id-labels">Swish Key_Certificate(Key_Cert)</label>
                </div>
                <div style="font-size:11px" appearance="outline" fxLayoutAlign="center center">
                    <input [(ngModel)]="key_cert_file" (change)="onFileChangeKeyCert($event)" type="file"
                        class="form-control">
                </div>
                <label fxLayoutAlign="center center">Notera: Filtillägget kommer endast att vara (.key)</label>
            </tr>
            <div class="file-upload-heading" fxLayoutAlign="center center">Förändra Swish Key_Certificate
                <button type="button" (click)="changeKeyCertFile()" class="fileUpdateBtn">
                    <span class="spinner-border spinner-border-sm" *ngIf="showloading" aria-hidden="true"></span>
                    <span *ngIf="!showloading">Uppdatera Key_Certificate</span>
                </button>
            </div>
            <!-- ................key_cert_file................... -->
            <tr fxLayout="column">
                <div class="file-heading" fxLayoutAlign="center center">
                    <label class="id-labels">Swish Pem_Root</label>
                </div>
                <div style="font-size:11px" appearance="outline" fxLayoutAlign="center center">
                    <input [(ngModel)]="pem_root_file" (change)="onFileChangePemRoot($event)" type="file"
                        class="form-control">
                </div>
                <label fxLayoutAlign="center center">Notera: Filtillägget kommer endast att vara (.pem)</label>
            </tr>
            <div class="file-upload-heading" fxLayoutAlign="center center">Förändra Swish Pem_Root
                <button type="button" (click)="changePemRootFile()" class="fileUpdateBtn">
                    <span class="spinner-border spinner-border-sm" *ngIf="showloading" aria-hidden="true"></span>
                    <span *ngIf="!showloading">Uppdatera Pem_Root</span>
                </button>
            </div>
            <!-- <tr fxLayout="column">
                <label class="id-labels"><b>Swish Pem_Cert</b></label>
                <mat-form-field style="font-size:11px" appearance="outline">
                    <mat-label>Swish Pem_Cert</mat-label>
                    <textarea matInput type="text" [(ngModel)]="swish_pem_cert" disabled></textarea>
                </mat-form-field>
            </tr>
            <tr fxLayout="column">
                <label class="id-labels"><b>Swish Key_Cert</b></label>
                <mat-form-field style="font-size:11px" appearance="outline">
                    <mat-label>Swish Key_Cert</mat-label>
                    <textarea matInput type="text" [(ngModel)]="swish_key_cert" disabled></textarea>
                </mat-form-field>
            </tr>
            <tr fxLayout="column">
                <label class="id-labels"><b>Swish Pem_Root</b></label>
                <mat-form-field style="font-size:11px" appearance="outline">
                    <mat-label>Swish Pem_Root</mat-label>
                    <textarea matInput type="text" [(ngModel)]="swish_pem_root" disabled></textarea>
                </mat-form-field>
            </tr> -->
            <!-- ................input fields................... -->
            
            <tr fxLayout="column">
                <label class="id-labels"><b>Swish PassPhrase</b></label>
                <mat-form-field style="font-size:11px" appearance="outline">
                    <!-- <mat-label>Swish PassPhrase</mat-label> -->
                    <textarea matInput type="text" [(ngModel)]="swish_passPhrase" required placeholder="Swish PassPhrase"></textarea>
                </mat-form-field>
            </tr>
            <tr fxLayout="column">
                <label class="id-labels"><b>Swish payAlias</b></label>
                <mat-form-field style="font-size:11px" appearance="outline">
                    <!-- <mat-label>Swish payAlias</mat-label> -->
                    <textarea matInput type="text" [(ngModel)]="swish_payeeAlias" required placeholder="Swish payAlias"></textarea>
                </mat-form-field>
            </tr>
            <tr fxLayout="column">
                <label class="id-labels"><b>Swish payPaymentReference</b></label>
                <mat-form-field style="font-size:11px" appearance="outline">
                    <!-- <mat-label>Swish payPaymentReference</mat-label> -->
                    <textarea matInput type="text" [(ngModel)]="swish_payeePaymentReference" required placeholder="Swish payPaymentReference"></textarea>
                </mat-form-field>
            </tr>
            <tr fxLayout="column">
                <label class="id-labels"><b>Swish payrAlias</b></label>
                <mat-form-field style="font-size:11px" appearance="outline">
                    <!-- <mat-label>Swish payrAlias</mat-label> -->
                    <textarea matInput type="text" [(ngModel)]="swish_payerAlias" required placeholder="Swish payrAlias"></textarea>
                </mat-form-field>
            </tr>

            <div class="buttons-container" fxLayout="row" fxLayoutAlign="center center">
                <!-- <button [routerLink]="'/home'" mat-button class="back-button" >
                    <mat-icon>chevron_left</mat-icon>
                    Tillbaka
                </button> -->
                &nbsp;&nbsp;
                <button (click)="openDialog()" mat-button class="update-button"><span
                        class="spinner-border spinner-border-sm" *ngIf="showloading" aria-hidden="true"></span><span
                        *ngIf="!showloading">
                        Uppdatering</span>
                </button>
            </div>
        </mat-card>
    </div>
</div>