<app-navbar></app-navbar>
<!-- <div class="header-top" fxLayoutAlign="none center"><span>ADMIN ANVÄNDARE</span></div> -->
<div class="header-top" fxLayoutAlign="none center"><span>Admin Användare</span></div>
<div fxLayout.lt-lg="col" fxLayout.lg="row">
    <div class="addBox" fxLayout="column">
        <!-- <div class="select-container" fxLayout="row" fxLayoutAlign="left">
            <mat-form-field class="select-a" appearance="outline">
                <mat-label><b>"Betalnings Metod"</b></mat-label>
                <mat-select (selectionChange)="changeUserType()" [(value)]="selectedUserType">
                    <mat-option *ngFor="let type of userTypeOptions " value="{{type}}">{{type}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div> -->
        <div class="save-button-container" fxLayout="row" >
            <mat-form-field class="select" appearance="outline">
                <mat-label><b>"Användartyp"</b></mat-label>
                <mat-select (selectionChange)="changeUserType()" [(value)]="selectedUserType">
                    <mat-option *ngFor="let type of userTypeOptions " value="{{type}}">{{type}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <!-- <button mat-button class="saveBtn create-user-button" [routerLink]="'/createUser'">Skapa Admin Användare</button> -->
            <button mat-button class="saveBtn create-user-button" [routerLink]="'/createUser'">Skapa Användare</button>
        </div>
        <div class="table-container">
            <table class="table-size" id="table">
                <thead>
                <tr class="table-header">
                    <th>Namn</th>
                    <th>Status</th>
                    <th>E-post</th>
                    <th>Lösenord</th>
                    <th>Titel</th>
                    <th *ngIf="this.authService.isAdmin()"></th>
                </tr>
                </thead>
                <tbody>
                <tr class="user-row" *ngFor="let person of asyncPersons | async | paginate: { id: 'server', itemsPerPage:
                    perPage, currentPage: p, totalItems: total }">
                    <td (click)="viewUser(person)">{{person.firstName + " " + person.lastName}}</td>
                    <td (click)="viewUser(person)"><u>{{person.status}}</u></td>
                    <td (click)="viewUser(person)"><u>{{person.email}}</u></td>
                    <td (click)="viewUser(person)">{{person.password}}</td>
                    <td (click)="viewUser(person)">{{person.roles}}</td>
                    <button (click)="viewUser(person)" mat-raised-button class="edit-button">Redigera</button>
                    <td *ngIf="authService.isAdmin()">
                        <button mat-button class="delete-user-button" (click)="deleteUser(person._id);">
                            <mat>Radera</mat>
                        </button>
                    </td>
                </tr>
                <tr *ngIf="!total" class="text-center">
                    <td colspan="4">Inga användare hittades</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div fxLayoutAlign="center none" class="pagination-button-container">
            <pagination-controls previousLabel="Föregående"
            nextLabel="Nästa" (pageChange)="getPage($event)" id="server"></pagination-controls>
        </div>
    </div>
</div><br/><br/>

<div class="header-top" fxLayoutAlign="none center"><span>KLIENT ANVÄNDARE</span></div>
<div fxLayout.lt-lg="col" fxLayout.lg="row">
    <div class="addBox" fxLayout="column">
        <div class="table2-container">
            <table class="table-size" id="table">
                <thead>
                <tr class="table-header">
                    <th>Namn</th>
                    <th>Personnummer(SSN)</th>
                    <th>E-post</th>
                    <th *ngIf="this.authService.isAdmin()"></th>
                </tr>
                </thead>
                <tbody>
                <tr class="user-row" *ngFor="let person of asyncPersonss | async | paginate: { id: 'servers', itemsPerPage:
                    perPage1, currentPage: p1, totalItems: total1 }">
                    <td>{{person.firstName + " " + person.lastName}}</td>
                    <td>{{person.ssn}}</td>
                    <td><u>{{person.email}}</u></td>
                </tr>
                <tr *ngIf="!total" class="text-center">
                    <td colspan="4">Inga användare hittades</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div fxLayoutAlign="center none" class="pagination-button-container2">
            <pagination-controls  
            previousLabel="Föregående"
            nextLabel="Nästa"  (pageChange)="getUserfe($event)"
              id="servers"></pagination-controls>
        </div>
        <div class="save-button-container" fxLayout="row" fxLayoutAlign="end center">
            <button routerLink="/home" mat-button class="saveBtn">Tillbaka</button>
        </div>
    </div>
</div>