.testing_container{
  border: solid 2px #042145;
  height: auto;
  // width: fit-content;
  margin: 130px 50px 50px 50px;
  border-radius: 20px;
}
.testing_header {
  margin-top: 50px;
  font-size: 35px;
  text-align: center;
}
.testing_header_description{
  margin-top: 20px;
  font-size: 15px;
  text-align: center;
}
.btn-container {
  width: 90%;
  // height: 100vh;
  padding: 50px;
}

button {
  cursor: pointer;
  height: 40px;
  // width: 100px;
  // width: 200px;
  display: flex;
  // background-color: #1F2A53;
  background-color: #042145;
  // background-color: rgba(214, 221, 213, 0.43);
  border: 0;
  // color: #FFFFFF;
  // font-weight: 300;
  border-radius: 6px;
  // position: absolute;
  margin-right: 20px;

  span {
    font-family:'Playfair Display,serif !important';    letter-spacing: 0.1em;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 18px;
    padding: 10px 0 10px 5px;
    color: white;
  }

}