<!-- <app-navbar></app-navbar> -->
<div class="header-top noMargin" fxLayoutAlign="none center"><span>
        FRÅGA OCH SVAR</span></div>
<div fxLayout.lt-lg="col" fxLayout.lg="row">
    <div class="addBox" fxLayout="column">
        <div class="create-button-container" fxLayout="row" fxLayoutAlign="end center">
            <button mat-button class="saveBtn create-question-answer-button"
                [routerLink]="'/question-and-answer/create'">
                Skapa Q/A</button>
        </div>
        <div class="table-class">
            <div class="table-container">
                <table class="table-size" id="table">
                    <thead>
                        <tr class="table-header">
                            <th>Fråga</th>
                            <th>Svar</th>
                            <th>Kategori</th>

                            <th *ngIf="this.authService.isAdmin()"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="question-answer-word-break" *ngFor="let data of asyncPersons | async | paginate: { id: 'servere', itemsPerPage:
                 perPage, currentPage: p, totalItems: total }">
                            <td (click)="viewQuestionAndAnswer(data)">{{data.question | slice:0:30}}</td>
                            <td (click)="viewQuestionAndAnswer(data)">{{data.answer | slice:0:50}}</td>
                            <td (click)="viewQuestionAndAnswer(data)">{{data.category | slice:0:50}}</td>

                            <button (click)="viewQuestionAndAnswer(data)" mat-raised-button
                                class="edit-button">Redigera</button>
                            <td *ngIf="authService.isAdmin()">
                                <button mat-button class="delete-question-answer-button"
                                    (click)="deleteQuestionAndAnswer(data._id);">
                                    <mat>Radera</mat>
                                </button>
                            </td>
                        </tr>
                        <tr *ngIf="!total" class="text-center">
                            <td colspan="4">Inga Fråga/Svar hittades</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div fxLayoutAlign="center none" class="pagination-button-container">
            <pagination-controls previousLabel="Föregående" nextLabel="Nästa" (pageChange)="getPage($event)"
                id="servere">
            </pagination-controls>
        </div>
        <div class="header-top" fxLayoutAlign="none center"><span>Rubrik och Beskrivning</span></div>
        <!-- <div class="total"> -->
        <label class="heading_labels"><b>Rubrik</b></label>
        <div class="field-container" fxFlex.lt-md="100">
            <div class="contentDiv">
                <ckeditor [config]="editorConfig" #ckEditorComp (ready)="onReady($event)" [editor]="ckEditor"
                    [(ngModel)]="heading"></ckeditor>
            </div>
        </div>
        <label class="heading_labels"><b>Beskrivning</b></label>
        <div class="field-container" fxFlex.lt-md="100">
            <div class="contentDiv">
                <ckeditor [config]="editorConfig" #ckEditorComp (ready)="onReady($event)" [editor]="ckEditor"
                    [(ngModel)]="description"></ckeditor>
            </div>
        </div>
        <!-- </div> -->
        <!-- <mat-card class="colorBox" fxLayout="column">
            Heelo
        </mat-card> -->
        <label class="heading_labels"><b>Frågor & Kategori Färgschema</b></label>
        <div class="colors_box_container" fxFlex.lt-md="100">
            <div class="colors_box">
                <div fxLayout.gt-sm="row" fxLayout.lt-md="column">
                    <div fxFlex.gt-sm="50" class="child-container-common2">
                        <tr fxLayout="column">
                            <label class="id-labels"><b>Kategori bakgrundsfärg</b></label>
                            <input type="color" class="color_picker" [(ngModel)]="categoryBackground"  id="favcolor" name="favcolor" />
                        </tr>
                    </div>
                    <div fxFlex.gt-sm="50" class="child-container-common2">
                        <tr fxLayout="column">
                            <label class="id-labels"><b>Kategoritextfärg</b></label>
                            <input type="color" class="color_picker" [(ngModel)]="categoryTextColor" id="favcolor" name="favcolor" />
                        </tr>
                    </div>
                </div>
                <div fxLayout.gt-sm="row" fxLayout.lt-md="column">
                    <div fxFlex.gt-sm="50" class="child-container-common2">
                        <tr fxLayout="column">
                            <label class="id-labels"><b>Frågans bakgrundsfärg</b></label>
                            <input type="color" class="color_picker" [(ngModel)]="questionBackground" id="favcolor" name="favcolor" />
                        </tr>
                    </div>
                    <div fxFlex.gt-sm="50" class="child-container-common2">
                        <tr fxLayout="column">
                            <label class="id-labels"><b>Frågetextfärg</b></label>
                            <input type="color" class="color_picker" [(ngModel)]="questionTextColor" id="favcolor" name="favcolor" />
                        </tr>
                    </div>
                </div>
            </div>
        </div>

        <div class="save-button-container" fxLayout="row" fxLayoutAlign="end center">
            <button routerLink="/home" mat-button class="backBtn">Tillbaka</button>
            <button mat-button class="updateBtn" (click)="updateHeadingDescOfQA()">
                Uppdatering
            </button>

        </div>
    </div>
</div>