$table-full-width: 100%;

.h-container {
  box-sizing: border-box;
  padding: 10px 5px;
  font-weight: bold;
  font-size: 18px;
  // border-bottom: 1px solid lightgray;
  margin-bottom: 1px;
}
.image_uploader_container{
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
}
.addBox {
  height: 100%;
  border-radius: unset;
  border: 3px solid var(--netlex-primary);
  margin-top: 25px;
}

.child-container-common {
  padding: 0px 15px 0px 15px;
}
.child-container-common-edit {
  // padding: 0px 15px 0px 15px;
  // margin: 0px 15px 0px 15px;
  margin: 0px 5px 10px 5px;
  border: 2px solid;
  padding-left: 15px;
  padding-top: 5px;
}
.edit_languages_label{
  background: #000234;
  color: white;
  text-align: center;
  margin: -5px 0 10px -15px;
  padding: 3px;
}

textarea {
  height: 12px;
}

.updateBtn {
  background-color: var(--netlex-primary);
  color: white;
  margin-left: 15px;
  width: 100px;
}

.space {
  padding: 10px !important;
  flex: auto;
}

.mat-form-field-underline {
  background-color: white !important;
}

.moveCenter {
  margin-left: -5%;
}
.grid{
  display: grid;
}
.edit-button {
  // background-color: #4060D4;
  // background-color: #4060D4;
  // border-radius: 50%;
  // color: white;
  // box-shadow: 2px 5px 6px -3px #888888;
  margin-top: 23px;
  height: 40px;
  margin-left: 5px;
  cursor: pointer;
  // padding: 20px;
  // width: 40px;
  // all: unset;
  .mat-icon {
    font-size: 25px;
    // background-color: #4060D4;
    background-color: #a9a9a9;
    width: 40px;
    height: 40px;
    box-shadow: 2px 5px 6px -3px #888888;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
  }
}

.add-button {
  // background-color: #4060D4;
  // background-color: #4060D4;
  // border-radius: 50%;
  // color: white;
  // box-shadow: 2px 5px 6px -3px #888888;
  margin-top: 23px;
  height: 40px;
  margin-left: 5px;
  cursor: pointer;
  // padding: 20px;
  // width: 40px;
  // all: unset;
  .mat-icon {
    font-size: 25px;
    // background-color: #4060D4;
    background-color: black;
    width: 45px;
    height: 40px;
    box-shadow: 2px 5px 6px -3px #888888;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
  }
}
.remove-button {
  // background-color: #4060D4;
  // background-color: #4060D4;
  // border-radius: 50%;
  // color: white;
  // box-shadow: 2px 5px 6px -3px #888888;
  margin-top: 23px;
  height: 40px;
  margin-left: 5px;
  cursor: pointer;
  // padding: 20px;
  // width: 40px;
  // all: unset;
  .mat-icon {
    font-size: 25px;
    // background-color: #4060D4;
    background-color: red;
    width: 45px;
    height: 40px;
    box-shadow: 2px 5px 6px -3px #888888;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
  }
}
// .add-button{
//   // background-color: #4060D4;
//   background-color: #000000;
//   // border-radius: 50%;
//   color: white;
//   box-shadow: 2px 5px 6px -3px #888888;
//   margin-top: 24px;
//   height: 40px;
//   margin-left: 5px;
//   // padding: 20px;
//   width: 50px;
// }
// .remove-button{
//   // background-color: #4060D4;
//   background-color: red;
//   // border-radius: 50%;
//   color: white;
//   box-shadow: 2px 5px 6px -3px #888888;
//   margin-top: 24px;
//   height: 40px;
//   margin-left: 5px;
//   // padding: 20px;
//   width: 50px;
// }
.back-button {
  background-color: #4060D4;
  color: white;
  box-shadow: 2px 5px 6px -3px #888888;
  margin-top: 30px;
}

.create-user-table-container {
  height: 100%;
  width: 100%;
}

.profile-button {
  color: #ffffff;
  background-color: var(--netlex-primary);
}

.button-center {
  text-align: center !important;
}

.text-center {
  margin-left: 5%;
  background-color: var(--netlex-primary);
  color: white;
}

.create-user-input-field {
  width: 250px;
  height: 40px;
  left: 0px;
  background: #FFFFFF;
  border: 1px solid #000000;
  box-sizing: border-box;
  box-shadow: 2px 5px 6px -3px #888888;
}


.table-top {
  padding: 40px 30px 10px 30px;

  tr {
    padding: 10px;
  }
}

.user-create-button {
  background-color: var(--netlex-primary);
  color: white;
  box-shadow: 2px 5px 6px -3px #888888;
  margin-top: 30px;
  width: 110px;
  // align-items: center;
  // justify-content: center;
  // text-align: center;
}

.spinner-border {
  display: flex;
  justify-content: center;
  padding: 5px;
}

.spinner-border-sm {
  display: flex;
  justify-content: center;
}

// .buttons-container {}

::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline-start {
  border-radius: 0px !important;
}

::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline-end {
  border-radius: 0px !important;
}

::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
  color: black !important;
}

.checkbox_container {
  // display: flex;
  // justify-content: center;
  // align-items: center;
  // padding-top: 27px;
  padding-bottom: 10px;

}

.field-container {
  justify-content: center;
  display: flex;
  padding-bottom: 10px;
  // width: 550px;
}

.contentDiv {
  border: 1px solid black;
  // width: 100%;
  // width: 99%;
  width: 550px;
  height: 200px;
  overflow-x: hidden;
  overflow-y: scroll;
}

@media screen and (max-width:960px) {
  .checkbox_container {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

@media screen and (max-width:680px) {

  .contentDiv {
    width: 450px;
  }
}

@media screen and (max-width:580px) {

  .contentDiv {
    width: 350px;
  }
}

@media screen and (max-width:580px) {

  .contentDiv {
    width: 250px;
  }
}
::ng-deep .mat-option-pseudo-checkbox.mat-pseudo-checkbox-checked {
  background-color: var(--color);
  // position: relative;
}
