 
<app-navbar></app-navbar>
<div class="header-top" fxLayoutAlign="none center"><span>PDF-Förhandsgranskning</span></div>
<div class="matUserInput" >
    <mat-card class="fieldBox" >
        <mat-card-content class="cardContent">
            <ng-container *ngFor="let fields of fieldList; let index = index">
                <div *ngIf="index < this.nextFields && (index >= this.previewFields)">
                    <div class="user-fields" fxLayout="row" fxLayoutAlign="start center">
                        <div>
                            <input type="hidden" [(ngModel)]="userInputs[index].fieldId">
                            <label class="questionStyle" fxLayoutAlign="start none">{{index + 1 + '.'}}
                                {{fields.fieldId.field.question}}</label>
                            <div fxLayout="row">
                                <div [ngSwitch]="fields?.fieldId.field.answerType">
                                    <div *ngSwitchCase="'Flervalsalternativ'">
                                        <select name="answer" class="dropdown UserInput textBox"
                                                (click)="checkMainQuestion(index)" required
                                                [(ngModel)]="userInputs[index].answer">
                                            <option value="" selected
                                                    disabled>{{fields?.fieldId.field.placeHolder}}</option>
                                            <option *ngFor="let answer of fields.fieldId.field.answerValue"
                                                    [value]="answer">{{answer}}</option>
                                        </select>
                                    </div>
                                    <div *ngSwitchCase="'Text'">
                            <textarea matInput class="UserInput textBox textAlign" (ngModelChange)="checkMainQuestion(index)"
                                      placeholder="{{fields.fieldId.
                            field.placeHolder}}" required [(ngModel)]="userInputs[index].answer">
                            </textarea>
                                    </div>
                                    <div *ngSwitchCase="'Nummer'">
                                        <input matInput type="number" (ngModelChange)="checkMainQuestion(index)"
                                               class="UserInput textBox" required
                                               [placeholder]="fields?.fieldId.field.placeHolder"
                                               [(ngModel)]="userInputs[index].answer">
                                    </div>
                                    <div *ngSwitchCase="'Stämmer/ Stämmer inte'">
                                        <div class="buttonRadio" fxLayout="row" fxLayoutAlign="none center">
                                            <span fxFlex="90" fxLayoutAlign="start">Stämmer</span>
                                            <input fxFlex="10" name="radioBtn{{index}}"
                                                   type="radio" value="Stämmer"
                                                   [(ngModel)]="userInputs[index].answer"
                                                   (ngModelChange)="checkMainQuestion(index)">
                                        </div>
                                        <div class="buttonRadio" fxLayout="row" fxLayoutAlign="none center">
                                            <span fxFlex="90" fxLayoutAlign="start">Stämmer inte</span>
                                            <input fxFlex="10" name="radioBtn{{index}}"
                                                   type="radio" value="Stämmer inte"
                                                   [(ngModel)]="userInputs[index].answer"
                                                   (ngModelChange)="checkMainQuestion(index)">
                                        </div>
                                    </div>
                                    <div *ngSwitchCase="'Datum'">
                                        <input type="date" name="dateQuestion" class="UserInput textBox"
                                               (ngModelChange)="checkMainQuestion(index)"
                                               [(ngModel)]="userInputs[index].answer" required>
                                    </div>
                                    <div *ngIf="fields?.fieldId.field.answerType === 'Stämmer/ Stämmer inte'"
                                         class="help-tip  toolTipRadioMain"
                                         matTooltip="{{fieldList[this.index].fieldId.field.questionMark}}"
                                         matTooltipPosition="right">
                                    </div>
                                    <div *ngIf="(fields?.fieldId.field.answerType !== 'Stämmer/ Stämmer inte') && (fields?.fieldId.field.answerType === 'Datum' || 'Nummer' || 'Text' || 'Flervalsalternativ')"
                                         class="help-tip toolTipAlign"
                                         matTooltip="{{fieldList[this.index].fieldId.field.questionMark}}"
                                         matTooltipPosition="right"></div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <br/>

<!--                    {{index}}  - - - - {{this.subQuestionInputs[index] | json}}-->

                  <div *ngIf="fieldList[index].fieldId.subQuestion != null" class="subQuestion">
                        <input type="hidden" [(ngModel)]="subQuestionInputs[index].fieldId">
                        <div *ngIf="this.fieldList[index].isSubQuestionEligible ||  this.subQuestionInputs[index].answer" class="subQuestionMarginAdded">
                            <label class="questionStyle">{{fieldList[index].fieldId.subQuestion.field.question}}</label>
                            <div [ngSwitch]="fieldList[index].fieldId.subQuestion.field.answerType" class="subQmark" >
                                <div *ngSwitchCase="'Flervalsalternativ'" fxLayoutAlign="start">
                                    <select name="answer" class="dropdown UserInput textBox"
                                            [(ngModel)]="subQuestionInputs[index].answer"
                                            *ngSwitchCase="'Flervalsalternativ'">
                                        <option value="" selected
                                                disabled>{{fields?.fieldId.subQuestion.field.placeHolder}}</option>
                                        <option *ngFor="let answer of fieldList[index].fieldId.subQuestion.field.answerValue"
                                                [value]="answer">{{answer}}</option>
                                    </select>
                                </div>
                                <div *ngSwitchCase="'Text'" class="textDiv" fxLayoutAlign="start">
                                <textarea *ngSwitchCase="'Text'" class="UserInput textBox textAlign"
                                          [placeholder]="fields?.fieldId.subQuestion.field.placeHolder"
                                          [(ngModel)]="subQuestionInputs[index].answer"></textarea>
                                </div>
                                <div *ngSwitchCase="'Nummer'" class="textDiv" fxLayoutAlign="start">
                                    <input type="text" inputmode="numeric" class="UserInput textBox"
                                           [placeholder]="fields?.fieldId.subQuestion.field.placeHolder"
                                           [(ngModel)]="subQuestionInputs[index].answer"
                                           *ngSwitchCase="'Nummer'">
                                </div>
                                <div *ngSwitchCase="'Stämmer/ Stämmer inte'" fxLayout="column" fxLayoutAlign="none start" class="radio-option">
                                    <div class="subRadioBtn" fxLayout="row"
                                         fxLayoutAlign="none center">
                                        <span fxFlex="90" fxLayoutAlign="start" translate>Stämmer</span>
                                        <input fxFlex="10" name="subRadioBtn{{index}}" type="radio"
                                               [value]="'Stämmer'"
                                               [(ngModel)]="subQuestionInputs[index].answer">
                                    </div>
                                    <div class="subRadioBtn" fxLayout="row"
                                         fxLayoutAlign="none center">
                                        <span fxFlex="90" fxLayoutAlign="start" translate>Stämmer inte</span>
                                        <input fxFlex="10" name="subRadioBtn{{index}}" type="radio"
                                               [value]="'Stämmer inte'"
                                               [(ngModel)]="subQuestionInputs[index].answer">
                                    </div>
                                </div>
                                <div *ngSwitchCase="'Datum'" class="textDiv" fxLayoutAlign="start">
                                    <input type="date" class="UserInput textBox"
                                           [(ngModel)]="subQuestionInputs[index].answer"
                                           *ngSwitchCase="'Datum'">
                                </div>
                                <div *ngIf="fields?.fieldId.subQuestion.field.answerType === 'Stämmer/ Stämmer inte'"
                                     class="help-tip toolTipRadioSubQuestion"
                                     matTooltip="{{fieldList[this.index].fieldId.subQuestion.field.questionMark}}"
                                     matTooltipPosition="right"></div>
                                <div *ngIf="(fields?.fieldId.subQuestion.field.answerType !== 'Stämmer/ Stämmer inte') && (fields?.fieldId.subQuestion.field.answerType ==='Datum' || 'Nummer' || 'Text' || 'Flervalsalternativ')"
                                     class="help-tip toolTipAlign"
                                     matTooltip="{{fieldList[this.index].fieldId.subQuestion.field.questionMark}}"
                                     matTooltipPosition="right"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-container>
        </mat-card-content>
        <!--    </div>-->

        <div fxLayoutAlign="end">
            <!-- <button [disabled]="isPreviousButtonDisable" mat-button (click)="onPrev()" class="button-nav">
                <mat-icon>chevron_left
                </mat-icon>
                <span>Tidigare</span>
            </button>
            &nbsp;&nbsp;
            <button mat-button class="button-nav next-button" (click)="onNext()" fxLayoutAlign="center center"
                    *ngIf="this.nextBtn"><span translate>Nästa</span>
                <mat-icon>chevron_right</mat-icon>
            </button> -->
            &nbsp;&nbsp;
            
            <button mat-button class="button-submit" *ngIf="!this.nextBtn"
                    
                    (click)="submit()">Submit
            </button>
            &nbsp;&nbsp;

        </div>
    </mat-card>
</div>
<div *ngIf="showLoader" fxLayout="row" fxLayoutAlign="space-around center" class="overlay">
    <mat-spinner diameter="50" strokeWidth="5"></mat-spinner>
</div>
