.delete-heading {
  font-family:'Playfair Display,serif !important';  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  margin: unset;
}

.delete-heading-organization {
  font-family:'Playfair Display,serif !important';  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 20px;
  margin: unset;
}

.delete-heading-organization-mobile {
  font-family:'Playfair Display,serif !important';  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 20px;
}

.delete-warn {
  font-family:'Playfair Display,serif !important';  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  width: 259px;
}

.delete-warn-organization {
  font-family:'Playfair Display,serif !important';  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 18px;
}

.settings-input {
  font-family:'Playfair Display,serif !important';  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 18px;
  width: 300px;
  height: 35px;
  border: 2px solid #A8B2D4;
  border-radius: 6px;
}

.settings-label {
  padding-top: 17px;
  font-family:'Playfair Display,serif !important';  font-style: normal;
  font-weight: 300;
  font-size: 14px;
}

.edit-container {
  margin-top: 21px;
}

.delete-save-container {
  padding: 28px 20px 20px 0;
  width: 324px;
}

.delete-save-container-mobile {
  padding: 28px 20px 20px 26px;
  width: 250px;
}

.button-delete {
  width: 85px;
  height: 30px;
  border: 2px solid #A8B2D4;
  border-radius: 6px;
  font-family:'Playfair Display,serif !important';  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  cursor: pointer;
  background-color: white;
}
.button-save {
  border: 2px solid #A8B2D4;
  border-radius: 6px;
  background-color: #C1C8DF;
  color: white;
  width: 85px;
  height: 30px;
  font-family:'Playfair Display,serif !important';  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  cursor: pointer;
  margin-right: 51px;
}
.button-save-mobile {
  border: 2px solid #A8B2D4;
  border-radius: 6px;
  background-color: #C1C8DF;
  color: white;
  width: 85px;
  height: 30px;
  font-family:'Playfair Display,serif !important';  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  cursor: pointer;
  margin-top: 32px;
}

.padding-buttons {
  padding-top: 19px;
}

.settings-header-mobile {
  padding: 16px 0 9px 15px;
  border-bottom: 2px solid #A8B2D4;
}

.padding-settings-icon {
  padding-right: 10px;
}

.moveHeading{
  margin-left: -26px;
  margin-top: -2px;
}
.menu-list-items-mobile {
  font-family:'Playfair Display,serif !important';  font-style: normal;
  font-weight: 300;
  font-size: 17px;
  line-height: 20px;
}

.input-container-mobile {
  padding: 32px 27px 11px 28px;
}

.settings-input-mobile {
  width: 300px;
  height: 40px;
  font-family:'Playfair Display,serif !important';  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 18px;
  border: 2px solid #A8B2D4;
  border-radius: 6px;
}

.back-arrow {
  position: absolute;
}

.marginTop{
  margin-top: 23px;
}
.dialog-container {
  width: 700px;
  height: 450px;
  padding-bottom: 20px;
  border: 3px solid rgba(168, 178, 212, 0.4);
  box-sizing: border-box;
  border-radius: 30px;
  overflow-x: scroll;
}

.publish-text {
  padding: 48px 0 0 68px;
}

.publish-label {
  color: #252222;
  font-family:'Playfair Display,serif !important';  font-style: normal;
  font-weight: normal;
  font-size: 25px;
}

.user-name-icon {
  border-radius: 50%;
  width: 35px;
  height: 35px;
  border: 2px #A8B2D4 solid;
  font-family:'Playfair Display,serif !important';  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
}

.user-name-mobile {
  font-family:'Playfair Display,serif !important';  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  margin-left: 6px;
}

.profile-icon-container-mobile {
  padding: 24px 20px 0px 25px;
}

.desc-header {
  font-family:'Playfair Display,serif !important';  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  margin-top: 27px;
  margin-bottom: 0px;
}
.desc-header-mobile{
  font-family:'Playfair Display,serif !important';  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  margin-top: 20px;
  margin-bottom: 0px;
}

.desc-msg {
  font-family:'Playfair Display,serif !important';  font-style: normal;
  font-weight: 300;
  font-size: 15px;
}

.width-desc-msg {
  width: 323px;
  margin-bottom: 25px;
}

.width-desc-msg-mobile {
  width: 250px;
  margin-bottom: 27px;
}

.add-organization-mobile {
  padding: 28px 37px 28px 37px;
}

.admin-sign-in-button-mobile{
  width: 284px;
  height: 45px;
  font-family:'Playfair Display,serif !important';  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 20px;
  background-color: #1F2A53;
  border-radius: 6px;
  color: #FFFFFF;
  border: unset;
  outline: unset;
}

.admin-sign-in-button {
  width: 308px;
  height: 45px;
  font-family:'Playfair Display,serif !important';  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 20px;
  background-color: #1F2A53;
  border-radius: 6px;
  color: #FFFFFF;
  border: unset;
  outline: unset;
}

.admin-tag{
  width: 67px;
  height: 22px;
  background-color: #C5DAC3;
  color: #FFFFFF;
  text-align: center;
  border-radius: 10px;
  font-family:'Playfair Display,serif !important';  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  margin-left: 112px;
  letter-spacing: 0.04em;
  margin-top: -28px;
}

.saveBtnMobileView{
  margin-right: -147px!important;
  margin-top: 23px;
}

.cornerMargin{
  margin-left: -26px!important;
}
.create-admin-sign-in-button-mobile{
  padding-top: 36px;
  padding-bottom: 58px;
  text-align: -webkit-center;
  width: 300px;
  height: 45px;
}

.create-admin-sign-in-button {
  padding-top: 19px;
}

.create-admin-button {
  padding-top: 19px;
}
.add-info-header{
  margin-top: 20px!important;
  margin-bottom: 0px!important;
}
.add-info-header-mobile{
  margin-top: 27px!important;
  margin-bottom: 22px!important;
}
.common-sign-in{
  margin-left: 12px;
}
