<app-navbar></app-navbar>
<div class="header-top" fxLayoutAlign="none center"><span>
    ADVOKAT</span></div>
<div fxLayout.lt-lg="col" fxLayout.lg="row">
    <div class="addBox" fxLayout="column">
        <div class="save-button-container" fxLayout="row" fxLayoutAlign="end center">
            <button mat-button class="saveBtn create-user-button" [routerLink]="'/createlawyer'">
                Skapa advokat</button>
        </div>
        <div class="table-container">
            <table class="table-size" id="table">
                <thead>
                <tr class="table-header">
                    <th>Namn</th>
                    <th>E-post</th>
                    
                    <th *ngIf="this.authService.isAdmin()"></th>
                </tr>
                </thead>
                <tbody>
                <!-- <tr 
                class="user-row" 
                *ngFor="let person of asyncPersons | async | paginate: { id: 'server', itemsPerPage:
                    perPage, currentPage: p, totalItems: total
                 }"> -->
                 <tr class="user-row" *ngFor="let person of asyncPersons | async | paginate: { id: 'server', itemsPerPage:
                 perPage, currentPage: p, totalItems: total }">
                    <td (click)="viewUser(person)">{{person.firstName + " " + person.lastName}}</td>
                    <td (click)="viewUser(person)"><u>{{person.email}}</u></td>
                    
                    <button (click)="viewUser(person)" mat-raised-button class="edit-button">Redigera</button>
                    <td *ngIf="authService.isAdmin()">
                        <button mat-button class="delete-user-button" (click)="deleteLawyer(person._id);">
                            <mat>Radera</mat>
                        </button>
                    </td>
                </tr>
                <tr *ngIf="!total" class="text-center">
                    <td colspan="4">Inga användare hittades</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div fxLayoutAlign="center none" class="pagination-button-container">
            <pagination-controls  
            previousLabel="Föregående"
            nextLabel="Nästa"
            (pageChange)="($event)" id="server"></pagination-controls>
        </div>
        <div class="save-button-container" fxLayout="row" fxLayoutAlign="end center">
            <button routerLink="/home" mat-button class="saveBtn">Tillbaka</button>
        </div>
    </div>
</div>



