<div fxLayout="column">

    <div fxHide.xs fxHide.sm fxLayout.gt-md="row" class="home-screen-banner">
        <div>
            <div class="matTextCard">
                <!-- <div [class.animate_banner_text]="who_we_are_img" class="animate_banner_text reflexRotate ">
                </div> -->
                <div class="TextFont" translate>

                    <!-- <span class="banner-header1"> -->
                    <div class="animate_banner_text reflexRotate delay_banner_text1 banner_header1">
                        Din advokatbyrå online
                    </div>
                    <!-- </span> -->
                    <br />
                    <br />
                    <div class="banner_header2 animate_banner_text reflexRotate delay_banner_text2">Skriv avtal</div>
                    <div class="banner_header3 animate_banner_text reflexRotate delay_banner_text3">Boka möte</div>
                </div>
            </div>
        </div>
        <!-- <div class="content">
            <div class="background">
                <div class="bluredBackground"></div>
            </div>
        </div> -->
        <!-- <img alt="Banner" class="banner-image" [src]="homeHeaderPic"> -->
        <div class="banner-dark-img">
            <img alt="Banner" class="banner-image" [src]="homeHeaderPic">
        </div>
    </div>

    <!-- <img alt="Banner" [src]="homeHeaderPicMob" fxHide.gt-sm>
    <p class="TextFontMobile" translate fxHide.gt-sm>{{handleYourLegal}}<br />
        {{agreementOnline}}</p> -->

    <div fxHide.gt-sm class="home-screen-banner-mobile">
        <div class="matTextCardMobile">
            <!-- <div [class.animate_banner_text]="who_we_are_img" class="animate_banner_text reflexRotate ">
            </div> -->
            <div class="TextFontMobile" translate>

                <!-- <span class="banner-header1"> -->
                <div class="animate_banner_text reflexRotate delay_banner_text1 banner_header1">
                    Din advokatbyrå online
                </div>
                <!-- </span> -->
                <br />
                <br />
                <div class="banner_header2 animate_banner_text reflexRotate delay_banner_text2">Skriv avtal</div>
                <div class="banner_header3 animate_banner_text reflexRotate delay_banner_text3">Boka möte</div>
            </div>
        </div>
        <div class="banner-dark-img-mobile">
            <img alt="Banner" class="banner-image-mobile" [src]="homeHeaderPic">
        </div>
    </div>


    <div fxHide.lt-md>
        <!-- <div class="dotted-div" *ngIf="banner_box1">
            <div class="dot_container1">
                <div class="dot" *ngFor="let item of dot_array"></div>
            </div>
            <div class="dot_container2">
                <div class="dot" *ngFor="let item of dot_array"></div>
            </div>
            <div class="dot_container1">
                <div class="dot" *ngFor="let item of dot_array"></div>
            </div>
            <div class="dot_container2">
                <div class="dot" *ngFor="let item of dot_array"></div>
            </div>
            <div class="dot_container1">
                <div class="dot" *ngFor="let item of dot_array"></div>
            </div>
        </div> -->
        <div class="dotted_image"></div>
        <!-- <img src="assets/images/dotted_image.png" alt="" class="dotted_image"> -->
        <div class="box-column-1" *ngIf="banner_box1">
            <!-- <div fxLayout="row" fxLayoutAlign="space-evenly"> -->
            <div fxLayout="row" fxLayoutAlign="center center">
                <div fxLayout="column" class="box-column-1-outer">
                    <div [class.animate_box1]="banner_box1" class="animate_box1 slidein1 ">
                        <div class="box-column-1-design">
                            <div class="meet_lawyer_logo_container" fxLayoutAlign="center center">
                                <img src="assets/images/agreement_logo.png" alt="" class="agreement_logo">
                            </div>
                            <div class="png-logo-container">
                                <!-- <img alt="png-logo"  [src]="meet_lawyer_logo"> -->
                            </div>
                            <div fxLayoutAlign="center" class="box-column-1-heading">
                                <!-- <img    class="icon-image"  [src]="purchaseImg"> -->
                                <p>Skriv avtal online</p>
                            </div>
                            <div fxLayout="column">
                                <span class="box-column-1-desc" fxLayoutAlign="center">
                                    <p>
                                        Med vår digitala tjänst kan du enkelt skräddarsy ditt eget avtal. Vi har en
                                        mängd
                                        olika
                                        avtal för livets alla skeenden. Samtliga avtal är skapade av våra jurister och
                                        advokater.</p>
                                </span>
                                <span fxLayoutAlign="center center" class="box-column-1-btn-container ">
                                    <button class="box-column-1-button"><span translate>Skriv avtal</span></button>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div fxLayout="column" class="box-column-2-outer">
                    <div [class.animate_box2]="banner_box1" class="animate_box1 slidein2 ">
                        <div class="box-column-2-design">
                            <div class="meet_lawyer_logo_container" fxLayoutAlign="center center">
                                <img src="assets/images/meet_lawyer_logo.png" alt="" class="meet_lawyer_logo">
                            </div>

                            <div fxLayoutAlign="center" class="box-column-1-heading">
                                <!-- <img    class="icon-image"  [src]="purchaseImg"> -->
                                <p>Boka ett möte med en jurist</p>
                            </div>
                            <div fxLayout="column">
                                <span class="box-column-1-desc" fxLayoutAlign="center">
                                    <p>
                                        Vid behövs av juridisk rådgivning kan du boka ett video möte med oss. Vi
                                        erbjuder
                                        ger
                                        rådgivning på flera olika språk. Du kan boka ett möte på 30 minuter (902 kr)
                                        eller
                                        en
                                        timme (1803kr).</p>
                                </span>
                                <span fxLayoutAlign="center center" class="box-column-1-btn-container ">
                                    <button class="box-column-1-button"><span translate>Boka möte</span></button>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- </div> -->
            </div>
        </div>
        <div>
            <!-- <div class="quote-card" fxLayoutAlign="none center">
                <span translate>{{description}}</span>
            </div> -->

            <!-- <div [class.animate]="hello" class="animate glow">
                <div class="delay-1">
                    hello
                </div>
            </div> -->

            <div fxLayout="row" fxLayoutAlign="center center">
                <div fxLayout="row" class="description-container">
                    <div fxFlex.gt-sm="65" class="description-col1">
                        <!-- <p class="description-heading">Vilka vi är </p> -->
                        <div [class.animate_who_we_are_img]="who_we_are_img" class="animate_who_we_are_img slidein3 ">
                            <p class="description-heading">Who we are</p>
                            <!-- <p class="description-para">{{description}}</p> -->
                            <p class="description-para">
                                In a classic legal industry where contact takes place through the firm's secretary and
                                on-site meetings, we want to offer legal assistance in a new, accessible and
                                cost-effective
                                way. The lawyer's title and our lawyer's ethical rules are your security - also online.
                            </p>
                        </div>
                    </div>
                    <div fxFlex.gt-sm="35" class="description-col2" *ngIf="who_we_are_img">
                        <div [class.animate_who_we_are_img]="who_we_are_img" class="animate_who_we_are_img slidein3 ">
                            <img src="assets/images/who_we_are_img.jpg" alt="" class="who_we_are_img">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="services-dark-img">
            <!-- <img alt="Banner" class="services-image" src="assets/images/service_background.jpg"> -->
            <div class="services-background">
                <div fxLayout="row" fxLayoutAlign="center center">
                    <div fxLayout="row" class="services-container">
                        <div fxFlex.gt-sm="35" class="services-col1">
                            <div [class.animate_who_we_are_img]="sevices" class="animate_who_we_are_img slidein3 ">

                                <p class="services-heading">Our Services</p>
                                <p class="services-desc">We are fight any violance with of experience.</p>
                            </div>
                        </div>
                        <div fxFlex.gt-sm="65" class="services-col2">
                            <div [class.animate_services]="sevices" class="animate_services slidein4" *ngIf="sevices">
                                <div fxLayout="row" class="services-col2-row1">
                                    <div fxLayout="column" fxFlex.gt-sm="30" class="services-box">
                                        <img src="assets/images/family_law_logo.png" alt="" class="family_law_logo">
                                        <p class="box-heading">Family Law</p>
                                        <p class="box-desc">Lorem Ipsum is simply dummy text of the printing and
                                            typesetting
                                            industryss.</p>
                                    </div>
                                    <div fxLayout="column" fxFlex.gt-sm="30" class="services-box">
                                        <img src="assets/images/criminal_law_logo.png" alt="" class="family_law_logo">
                                        <p class="box-heading">Criminal Law</p>
                                        <p class="box-desc">Lorem Ipsum is simply dummy text of the printing and
                                            typesetting
                                            industryss.</p>
                                    </div>
                                    <div fxLayout="column" fxFlex.gt-sm="30" class="services-box">
                                        <img src="assets/images/civil_law_logo.png" alt="" class="family_law_logo">
                                        <p class="box-heading">Civil Law</p>
                                        <p class="box-desc">Lorem Ipsum is simply dummy text of the printing and
                                            typesetting
                                            industryss.</p>
                                    </div>
                                </div>
                                <div fxLayout="row" class="services-col2-row2">
                                    <div fxLayout="column" fxFlex.gt-sm="30" class="services-box">
                                        <img src="assets/images/business_law_logo.png" alt="" class="family_law_logo">
                                        <p class="box-heading">Business Law</p>
                                        <p class="box-desc">Lorem Ipsum is simply dummy text of the printing and
                                            typesetting
                                            industryss.</p>
                                    </div>
                                    <div fxLayout="column" fxFlex.gt-sm="30" class="services-box">
                                        <img src="assets/images/educational_law_logo.png" alt=""
                                            class="family_law_logo">
                                        <p class="box-heading">Educational Law</p>
                                        <p class="box-desc">Lorem Ipsum is simply dummy text of the printing and
                                            typesetting
                                            industryss.</p>
                                    </div>
                                    <div fxLayout="column" fxFlex.gt-sm="30" class="services-box">
                                        <img src="assets/images/insurance_law_logo.png" alt="" class="family_law_logo">
                                        <p class="box-heading">Family Law</p>
                                        <p class="box-desc">Lorem Ipsum is simply dummy text of the printing and
                                            typesetting
                                            industryss.</p>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- <div fxHide.lt-md fxLayout="column">
            <div fxLayoutAlign="center center" class="welcome-netlex-line-container">
                <span class="welcome-netlex-line" translate>{{welcomeNote}}</span>
            </div>
            <div fxLayoutAlign="center center" class="agreement-button-container">
                <button class="agreement-button" [routerLink]="'/agreements'"><span
                        translate>{{startAgreement}}</span></button>
            </div>
        </div> -->
    </div>
    <div fxHide.gt-sm>
        <div class="dotted_image_mobile " [class.dotted_image_position]="banner_box1"></div>
        <div class="box-column-1-mobile" *ngIf="banner_box1">
            <div class="box-column-1-outer-mobile">
                <div [class.animate_box1]="banner_box1" class="animate_box1 slidein1 ">
                    <div class="box-column-1-design">
                        <div class="meet_lawyer_logo_container" fxLayoutAlign="center center">
                            <img src="assets/images/agreement_logo.png" alt="" class="agreement_logo">
                        </div>
                        <div class="png-logo-container">
                            <!-- <img alt="png-logo"  [src]="meet_lawyer_logo"> -->
                        </div>
                        <div fxLayoutAlign="center" class="box-column-1-heading">
                            <!-- <img    class="icon-image"  [src]="purchaseImg"> -->
                            <p>Skriv avtal online</p>
                        </div>
                        <div fxLayout="column">
                            <span class="box-column-1-desc" fxLayoutAlign="center">
                                <p>
                                    Med vår digitala tjänst kan du enkelt skräddarsy ditt eget avtal. Vi har en
                                    mängd
                                    olika
                                    avtal för livets alla skeenden. Samtliga avtal är skapade av våra jurister och
                                    advokater.</p>
                            </span>
                            <span fxLayoutAlign="center center" class="box-column-1-btn-container ">
                                <button class="box-column-1-button"><span translate>Skriv avtal</span></button>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="box-column-2-mobile" *ngIf="banner_box1">
            <div class="box-column-2-outer-mobile">
                <div [class.animate_box2]="banner_box1" class="animate_box1 slidein2 ">
                    <div class="box-column-2-design">
                        <div class="meet_lawyer_logo_container" fxLayoutAlign="center center">
                            <img src="assets/images/meet_lawyer_logo.png" alt="" class="meet_lawyer_logo">
                        </div>
                        <div fxLayoutAlign="center" class="box-column-1-heading">
                            <p>Boka ett möte med en jurist</p>
                        </div>
                        <div fxLayout="column">
                            <span class="box-column-1-desc" fxLayoutAlign="center">
                                <p>
                                    Vid behövs av juridisk rådgivning kan du boka ett video möte med oss. Vi
                                    erbjuder
                                    ger
                                    rådgivning på flera olika språk. Du kan boka ett möte på 30 minuter (902 kr)
                                    eller
                                    en
                                    timme (1803kr).</p>
                            </span>
                            <span fxLayoutAlign="center center" class="box-column-1-btn-container ">
                                <button class="box-column-1-button"><span translate>Boka möte</span></button>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- <div>
            <div class="quote-card-mobile" fxLayoutAlign="center center">
                <span translate>{{description}}</span>
            </div>
        </div> -->
        <div class="description-container-mbl">
            <!-- <div class="description-col1">
                <div [class.animate_who_we_are_img]="who_we_are_img" class="animate_who_we_are_img slidein3 ">
                    <p class="description-heading-mbl">Who we are</p>
                    <p class="description-para-mbl">
                        In a classic legal industry where contact takes place through the firm's secretary and
                        on-site meetings, we want to offer legal assistance in a new, accessible and
                        cost-effective
                        way.The lawyer's title and our lawyer's ethical rules are your security - also online.
                    </p>
                </div>
            </div> -->
            <!-- <div class="description-col2" *ngIf="who_we_are_img"> -->
            <div class="description-col1">
                <p class="description-heading-mbl">Who we are</p>
                <p class="description-para-mbl2">
                    In a classic legal industry where contact takes place through the firm's secretary and
                    on-site meetings, we want to offer legal assistance in a new, accessible and
                    cost-effective
                    way.The lawyer's title and our lawyer's ethical rules are your security - also online.</p>
            </div>
            <div class="description-col2">
                <div class="">
                    <div [class.animate_who_we_are_img]="who_we_are_img" class="animate_who_we_are_img slidein3 ">
                        <img src="assets/images/who_we_are_img.jpg" alt="" class="who_we_are_img_mbl">
                    </div>
                </div>
            </div>
            <!-- </div> -->
        </div>
        <!-- <div fxLayout="column">
            <div fxLayoutAlign="center center" class="welcome-netlex-line-container">
                <span class="welcome-netlex-line-mobile" translate>{{welcomeNote}}</span>
            </div>
            <div fxLayoutAlign="center center" class="agreement-button-container">
                <button class="agreement-button" [routerLink]="'/agreements'"><span
                        translate>{{startAgreement}}</span></button>
            </div>
        </div> -->
        <div class="services-dark-img">
            <!-- <img alt="Banner" class="services-image" src="assets/images/service_background.jpg"> -->
            <div [class.services-background-mobile-height]="all_services_mobile" class="services-background-mobile ">
                <div fxLayoutAlign="center center">
                    <div class="services-container-mobile">
                        <div class="services-text-container-mobile">
                            <div [class.animate_who_we_are_img]="sevices" class="animate_who_we_are_img slidein3 ">

                                <p class="services-heading-mobile">Our Services</p>
                                <p class="services-desc-mobile">We are fight any violance with of experience.</p>
                            </div>
                        </div>
                        <div class="services-boxes-container-mobile">
                            <div class="services-boxes-row-mobile">
                                <div class="services-box-mobile">
                                    <img src="assets/images/family_law_logo.png" alt="" class="laws_logo_mobile">
                                    <p class="services-box-heading-mobile">Family Law</p>
                                    <p class="services-box-desc-mobile">Lorem Ipsum is simply dummy text of the printing
                                        and typesetting industry.</p>
                                </div>
                                <div class="services-box-mobile">
                                    <img src="assets/images/criminal_law_logo.png" alt="" class="laws_logo_mobile">
                                    <p class="services-box-heading-mobile">Criminal Law</p>
                                    <p class="services-box-desc-mobile">Lorem Ipsum is simply dummy text of the printing
                                        and typesetting industry.</p>
                                </div>
                            </div>
                            <div class="services-boxes-row-mobile">
                                <div class="services-box-mobile">
                                    <img src="assets/images/civil_law_logo.png" alt="" class="laws_logo_mobile">
                                    <p class="services-box-heading-mobile">Civil Law</p>
                                    <p class="services-box-desc-mobile">Lorem Ipsum is simply dummy text of the printing
                                        and typesetting industry.</p>
                                </div>
                                <div class="services-box-mobile">
                                    <img src="assets/images/business_law_logo.png" alt="" class="laws_logo_mobile">
                                    <p class="services-box-heading-mobile">Business Law</p>
                                    <p class="services-box-desc-mobile">Lorem Ipsum is simply dummy text of the printing
                                        and typesetting industry.</p>
                                </div>
                            </div>
                            <div class="services-boxes-row-mobile" *ngIf="all_services_mobile">
                                <div class="services-box-mobile">
                                    <img src="assets/images/educational_law_logo.png" alt="" class="laws_logo_mobile">
                                    <p class="services-box-heading-mobile">Educational Law</p>
                                    <p class="services-box-desc-mobile">Lorem Ipsum is simply dummy text of the printing
                                        and typesetting industry.</p>
                                </div>
                                <div class="services-box-mobile">
                                    <img src="assets/images/insurance_law_logo.png" alt="" class="laws_logo_mobile">
                                    <p class="services-box-heading-mobile">Insurance Law</p>
                                    <p class="services-box-desc-mobile">Lorem Ipsum is simply dummy text of the printing
                                        and typesetting industry.</p>
                                </div>
                            </div>
                        </div>
                        <div fxLayoutAlign="end center" class="view-all-btn-container-mbl">
                            <button class="view-all-button-mbl" (click)="show_all_services()"
                                [class.view-all-button-mbl-color]="all_services_mobile">
                                <span translate *ngIf="!all_services_mobile">View all</span>
                                <span translate *ngIf="all_services_mobile">View less</span>
                                <mat-icon class="visibility-icon-mbl" *ngIf="!all_services_mobile">visibility</mat-icon>
                                <mat-icon class="visibility-icon-mbl" *ngIf="all_services_mobile">visibility_off
                                </mat-icon>
                            </button>
                        </div>
                        <!-- <div fxFlex.gt-sm="65" class="services-col2">
                            <div [class.animate_services]="sevices" class="animate_services slidein4" *ngIf="sevices">
                                <div fxLayout="row" class="services-col2-row1">
                                </div>
                                <div fxLayout="row" class="services-col2-row2">
                                </div>
                            </div>

                        </div> -->

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-lawyers-in-home></app-lawyers-in-home>
<!-- <div class="welcome-note-container">
    <div fxHide.lt-md>
        <div fxHide.lt-md fxLayout="column">
            <div fxLayoutAlign="center center" class="welcome-netlex-line-container">
                <span class="welcome-netlex-line" translate>{{welcomeNote}}</span>
            </div>
            <div fxLayoutAlign="center center" class="agreement-button-container">
                <button class="agreement-button" [routerLink]="'/agreements'"><span
                        translate>{{startAgreement}}</span></button>
            </div>
        </div>
    </div>
    <div fxHide.gt-sm>
        <div fxLayout="column">
            <div fxLayoutAlign="center center" class="welcome-netlex-line-container">
                <span class="welcome-netlex-line-mobile" translate>{{welcomeNote}}</span>
            </div>
            <div fxLayoutAlign="center center" class="agreement-button-container">
                <button class="agreement-button-mobile" [routerLink]="'/agreements'"><span
                        translate>{{startAgreement}}</span></button>
            </div>
        </div>
    </div>
</div> -->
<!-- <app-footer></app-footer> -->
